<div class="controls pull-right hidden-xs">
   <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
   <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
</div>
<div id="carousel-example" class="carousel slide hidden-xs height-494" data-ride="carousel">
 <!-- Wrapper for slides -->
 <div class="carousel-inner">
     <div class="item active">
         <div class="row">
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
     <div class="item">
         <div class="row">
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
 </div>
</div>
<div class="controls pull-right hidden-xs">
   <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
   <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
</div>
<div id="carousel-example" class="carousel slide hidden-xs height-494" data-ride="carousel">
 <!-- Wrapper for slides -->
 <div class="carousel-inner">
     <div class="item active">
         <div class="row">
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
     <div class="item">
         <div class="row">
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="col-item">
                     <div class="photo">
                         <img src="//placehold.it/350x260" class="img-responsive" alt="a" />
                     </div>
                     <div class="info-2">
                         <div class="images-product-old">
                             <div class="product-old">
                                 <div class="blog-content"> <a class="ion-android-data light-blue-button">PARENT'S WORLD</a>
                                     <h4><a href="#">KSP TALK | Mira Rajput Kapoor On Motherhood &amp; How Different Are Celebs</a></h4>
                                     <div class="media-left">
                                         <a href="#"> <img class="media-object photo-profile" src="images/3.png" width="45" height="45" alt="..."> </a>
                                     </div>
                                     <div class="media-body">
                                         <a href="#" class="anchor-username">
                                             <h4 class="media-heading">Janani Koushik</h4>
                                         </a> <a href="#" class="anchor-time">10 JUN 2017 | 3 MIN READ</a> </div>

                                     <div class="post-footer-option container">
                                         <ul class="list-unstyled">
                                             <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                             <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="clearfix"></div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
 </div>
</div>
