.margin-top-bottom-25px{
    margin-top:25px!important;
}
.pb_10{padding-bottom:10px!important}
.all-caps{
    text-transform: uppercase!important;
  }
  .blog-content h3{
    /*font-family: Raleway!important;*/
    color:#333333!important;
    margin-bottom: 5px!important;
    overflow: hidden;
    text-overflow: ellipsis!important;
    width: 95%!important;
    margin-top: 2%!important;
      font-weight: 800;
      font-size: 24px;
      text-transform: none!important;
  }
  .prof_pic{
    border-radius:50%;
  }
  .capitalize{
    text-transform:capitalize!important;
  }
  .margin-top7per{
    margin-top:7%;
  }
  .margin-bottom4per{
    margin-bottom:4%!important;
  }
  
  
  .bookmark-img{
    width:31px;
    height:31px;
  }
  .padding-top10px{
    padding-top: 10px!important;
  }
  .main-title-outer:after {
      border-bottom: none!important;
      width: 200px;
      display: block;
      position: absolute;
      content: '';
      padding-bottom: 46px;
  }
  .blog-ellipsis-article-excerpt {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 35px; /* fallback */
      width: 100%;
  }
  
  .blog-content {
      font-weight: bold!important;
  }
  
   .margin-top1per{
     margin-top:1%!important;
   }
  
   .media-body, .media-left, .media-right {
       /* display: table-cell; */
       vertical-align: top;
       display: inline-block;
       width: auto;
       float: right;
   }
  
   span .media-left{
     display: table-cell;
     float: left;
   }
  
   span .media-body{
     display: table-cell;
     float: left;
   }
  
   .main-title-outer2 {
      border-bottom: 1px solid #d3d3d3;
      width: 100%;
      margin-bottom: 10px;
      line-height: 36px;
      font-weight: bold;
  }
  
  .like-comment-img{
    /*width:21px;
    height:21px;*/
    width: 22px;
    /*height: 31px;*/
    font-size:22px;
    float: left;
    line-height: 20px;
  }
  .btn-padding-8px{
    padding: 8px!important;
  }
  
  .topRight{
    position: absolute;
    top: calc(100vw / 2 + 10px);
    right: 12px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    z-index: 1000;
    padding: 6px 15px;
    background: rgba(0,0,0,0.6);
    border-radius: 12px;
  }
  
  

  
  .group-card-img{
    width:200px;
      height:150px;
    object-fit: cover;
    object-position: top center;
    border-radius: 4px 4px 0 0;
  }
  .social-group-card{
    padding: 6px;
  }
  .social-group-detail{
    background: #ffffff;
    padding: 15px;
    border-radius: 0 0 4px 4px;
  }
  .social-group {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .social-group > .social-group-card {
    display: inline-block;
    float: none;
  }
  .partner-title-elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 170px;
    white-space: normal;
    line-height: 1.2;
  }
  
  .partner-tagline-elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 170px;
    white-space: normal;
    line-height: 1.2;
  }
  
  ::ng-deep .user-pic-text {
    font-size: 20px;
  }
  
  .font-size-18 {
    font-size: 18px !important;
  }
  
  ::ng-deep .quizWidget {
    height:700px!important;
  }
  
  .article-content-style ::ng-deep img {
    max-width: 100%!important;
    height: auto!important; 
  }
  
  .error-survey-form{
    color: red;
    font-size: 12px;
  }
  
  .meal-header {
    font-size:14px;
    display: inline-block;
    margin-top: 10px;
    color: #000;
  }
  
  .subscribe-button {
    background-color: #e35b7f;
    padding: 10px;
    color: #fff!important;
    font-size: 13px;
    min-width: 70%; 
    display: inline-block; 
    text-align: center; 
    border-radius: 50px; 
    margin: 1% 15%;
  }
  
  .meal-yes-button {
    margin:5px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
  }
  
  .meal-no-button {
   cursor: pointer;
   font-size: 12px;
   color:#000;
  }

  .content-wrap {
    border: 2px solid #F3B63A;
    margin: 15px;
    margin-top: 23px !important;
    position: relative;
  }

  .content-wrap:before {
    content: 'KSP Premium Bundle';
    background-color: #F3B63A;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: bold;
  }



