.all-caps{
  text-transform: uppercase!important;
}
.capitalize{
  text-transform: capitalize!important;
}
.margin-bottom{
  margin-bottom: 2.6%;
}
p{
  text-align: left!important;
  font-size: 13px;
}
.min-height200px{
    min-height: 284px;
    padding-top: 90px;
    color: #ff6553;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-bottom: 90px;
    height:284px;
}
.recent-post {
	width: 100%;
	list-style-type: none;
	background-color: #ffffff!important;
	padding: 10px 10px 10px 15px;
	margin-bottom: 0;
	display: inline-block;
}
.gry-background{
	    background-color: #f0f0f0!important;
}

/*@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
   border: 1px solid #E1E1E1;
   border-radius: 5px;
   background: #FFF;
}
.col-item .photo img
{
   margin: 0 auto;
   width: 100%;
}

.col-item .info
{
   padding: 10px;
   border-radius: 0 0 5px 5px;
   margin-top: 1px;
}

.col-item:hover .info {
   background-color: #F5F5DC;
}
.col-item .price
{

   float: left;
   margin-top: 5px;
}

.col-item .price h5
{
   line-height: 20px;
   margin: 0;
}

.price-text-color
{
   color: #219FD1;
}

.col-item .info .rating
{
   color: #777;
}

.col-item .rating
{

   float: left;
   font-size: 17px;
   text-align: right;
   line-height: 52px;
   margin-bottom: 10px;
   height: 52px;
}

.col-item .separator
{
   border-top: 1px solid #E1E1E1;
}

.clear-left
{
   clear: left;
}

.col-item .separator p
{
   line-height: 20px;
   margin-bottom: 0;
   margin-top: 10px;
   text-align: center;
}

.col-item .separator p i
{
   margin-right: 5px;
}
.col-item .btn-add
{
   width: 50%;
   float: left;
}

.col-item .btn-add
{
   border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
   width: 50%;
   float: left;
   padding-left: 10px;
}
.controls
{
   margin-top: 20px;
}
[data-slide="prev"]
{
   margin-right: 10px;
}
*/




/*@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);*/
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info-2
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info-2 {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info-2 .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
/*Issue fixed CSS*/
.tv-font12{
  font-size: 12px!important;
}
.tv-alignCenter{
  text-align: center!important;
}
.margin-left15{
	margin-left: -15px;
}
.text-bold{
  font-weight: bold;
}
.pick-date-text{
    position: absolute;
    z-index: 99;
    top: 34px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin: 0 50px;
}
.btn-brown{
	color: #fff;
	background-color: #50463c!important;

	border: none;
	padding: 5px 20px;
}
.btn-brown:hover,.btn-brown:active,.btn-brown:focus{
	color: #fff;
	background-color: #5d5042!important;

	border: none;
	padding: 5px 20px;
}
.font-color-white {
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
}
.view-group{
  font-weight: bold;
}
.pick-date-input {
    background-color: #50463c!important;
    text-align: center!important;
    color: white!important;
    /* margin: 15px 0px!important; */
    border-radius: 4px!important;
    line-height: 25px!important;
    padding: 34px 3px!important;
    width: 100%!important;
}

.testimonial-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 82px; /* fallback */
    width: 100%;
}

.article-title-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px; /* fallback */
    width: 100%;
    font-size:14px;
}


.today-selected{
  background-color: #ac2925;
  border-color: #761c19;
}

.tomorrow-selected{
  background-color: #d58512;
  border-color: #985f0d;
}

.saturday-selected{
  background-color: #204d74;
  border-color: #122b40;
}

.sunday-selected{
  background-color: #398439;
  border-color: #255625;
}

.pickedDate-selected{
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-gray-selected{
  background-color:#d5d5d5;
  border-color: #d5d5d5;
}
.text-white{
  color:#fff!important;
}
.brown-bg{
  background-color: #50463c;
  padding: 40px 0 65px;
}
.font-size-27px{
  font-size:27px!important;
}

.blog-ellipsis-title {
    font-size: 16px!important;
    font-weight: 700;
    margin-bottom: 15px!important;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 35px;*/
    height: 18px;
    width: 100%;
    color: #ffffff;
}
.banner-ellipsis-title {
    font-size: 24px!important;
    padding-bottom: 25px!important;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-display: auto;
    line-height: 1.3;
}
.blog-ellipsis-tv {
    font-size: 16px!important;
    font-weight: 700;
    /*margin-bottom: 15px!important;*/
    margin-top: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 35px;*/
    height: 18px;
    width: 100%;
    color: #ffffff;
}

.main-title-outer:after{
  border-color: transparent;
}

.bg-color-green{
    background-color: #5bc199!important;
}
.tv-big-card{
  box-shadow: none!important;
  background-color: #fff!important;
}

.banner-navigator{
  width:100vw;
  height:250px;
  background-color:#ffffff;
  border-top: 1px solid #f3f3f3;
  position: relative;
  z-index: 999;
  margin-top:-6px;
}

.height90px{
  height:90px!important;
}

.banner-button-holder{
  height:100%;
  width:100%;
  text-align:center;
  margin-top:15px;
}

.banner-button {
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height: 65px;
  width: 135px;
  border-radius:none;
  background-color: #ffffff;
  /*margin-left: 10px;
  margin-right: 10px;*/
  border:none;
  outline: 0;
  border-right: 1px solid #e4e4e4;
}
.border-none{
  border: none;
}

.banner-btn-title{
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  height: auto;
  /*width: 100px;*/
  /*border-radius: 50%;*/
  /*margin-left: 10px;
  margin-right: 10px;*/
  /*color: #d1d1d1;*/
  font-family: 'Raleway-SemiBold';
  font-display: auto;
  /*letter-spacing: 1px;*/
  margin-top: 15px;
}

.banner-btn-text{
  font-family: 'Raleway-SemiBold';
  font-display: auto;
  letter-spacing: 1px;
  font-size: 14px;
  width: 70%;
  margin: auto;
  position: relative;
}

.btn-ksp:active, .btn-ksp:focus, btn-ksp:hover{
 outline:0!important;
}

 .btn-article:active, .btn-article:focus{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #336699!important;*/
  -webkit-transition: 300ms;
}
.btn-grp:active, .btn-grp:focus{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #336699!important;*/
  -webkit-transition: 300ms;
}
.btn-event:active, .btn-event:focus{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #336699!important;*/
  -webkit-transition: 300ms;
}
.btn-radio:active, .btn-radio:focus{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #336699!important;*/
  -webkit-transition: 300ms;
}
.btn-tv:active, .btn-tv:focus{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #336699!important;*/
  -webkit-transition: 300ms;
}

.banner-btn-selected-article{
  outline:0!important;
  color:#e45b80!important;
  /*background-color: #ffffff!important;*/
  border-right: 1px solid #d1d1d1;
}
.banner-btn-selected-grp{
  outline:0!important;
  color: #e35b81!important;
  background-color: #ffffff!important;
}
.banner-btn-selected-event{
  outline:0!important;
  color: #e35b81!important;
  background-color: #ffffff!important;
}
.banner-btn-selected-radio{
  outline:0!important;
  color: #e35b81!important;
  background-color: #ffffff!important;
}
.banner-btn-selected-tv{
  outline:0!important;
  color: #e35b81!important;
  background-color: #ffffff!important;
}

.banner-btn-selected-text{
  font-family: 'Raleway-SemiBold'!important;
  font-display: auto;
  color: #e35b81;
}

.banner-btn-explore-holder{
    position: relative;
    margin-top: 95px;
}

.banner-btn-explore{
  border-radius:40px;
  background-color: #e35b81;
  color:#ffffff;
  font-family: 'Raleway-Bold';
  font-display: auto;
  font-size: 15px;
  border:none!important;
  padding: 10px 60px;
}

.banner-btn-explore:hover, .banner-btn-explore:active, .banner-btn-explore:focus{
  outline: 0!important;
}

.banner-btn-text-effect{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: absolute;
  width: 100%;
}
.opacity1{
  opacity: 1!important;
}
.font-size30{
  font-size: 30px;
}

.height160px{
  height: 160px!important;
}

.text-index{
  z-index: 9;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.min-height-66{
  /*min-height: 66.66%;*/
  min-height: 25%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.34) 50%, rgba(0,0,0,0.5) 99%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 50%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 50%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.event-content-ellipsis{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px /* fallback */;
  width: 100%;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: justify!important;
  word-break: break-all;
}

.event-title-ellipsis{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px /* fallback */;
  width: 100%;
  letter-spacing: 0px;
  word-break: break-all;
}

.height-auto{
  height: auto!important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.topRight{
  right: 20px;
  top:15px;
  color: #333;
  font-size: 20px;
  font-weight: bolder;
  z-index: 1000;
  padding: 5px 0px;
  background: rgba(255,255,255,0.4);
  border-radius: 30px;
  width: 40px;
  float: right;
  cursor: pointer;
  position: absolute;
}

.signupModalBtn{
  right: 175px!important;
  bottom: 60px!important;
}

.text-justify-important{
  text-align: justify!important;
}


.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
.error-survey-form {
  color: red;
  font-size: 13px;
}

/* favorite box css*/
.blue-ksp-code{
  background-color: #2b263a;
  padding: 40px 0;
  height: calc(100% - 50px);
}

.purple-ksp-code{
  background: rgba(92,79,211,1);
  background: -moz-linear-gradient(-45deg, rgba(92,79,211,1) 0%, rgba(197,109,215,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92,79,211,1)), color-stop(100%, rgba(197,109,215,1)));
  background: -webkit-linear-gradient(-45deg, rgba(92,79,211,1) 0%, rgba(197,109,215,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(92,79,211,1) 0%, rgba(197,109,215,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(92,79,211,1) 0%, rgba(197,109,215,1) 100%);
  background: linear-gradient(135deg, rgba(92,79,211,1) 0%, rgba(197,109,215,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4fd3', endColorstr='#c56dd7', GradientType=1 );
  border-radius: 5px;
  color: #ffffff!important;
  padding:0px;
  font-size: 13px;
  text-align: left!important;
  margin: 20px 0;

}
.purple-ksp-code h2, .purple-ksp-code h5{
    color: #ffffff!important;

}
.purple-ksp-code ul{
    margin-top: 15px;
}
.purple-ksp-code ul li{
  list-style: none;
  padding:4px 10px;

}
.purple-ksp-code ul li button{
  border-radius: 4px;
  padding:15px 5px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}
.purple-ksp-code ul li span a{
  color: #ffffff;
  text-decoration: underline;
}
.purple-ksp-code ul li span a:hover{
  color: #05E3FF;
  text-decoration: underline;
}

.sky-blue-ksp-code {
  background: rgba(255,199,51,1) !important;
  background: -moz-linear-gradient(140deg, #006088 0%, skyblue 100%) !important;
  background: -webkit-linear-gradient(140deg, #006088 0%, skyblue 100%) !important;
  background: -o-linear-gradient(140deg, #006088 0%, skyblue 100%) !important;
  background: -ms-linear-gradient(140deg, #006088 0%, skyblue 100%) !important;
  background: linear-gradient(140deg, #006088 0%, skyblue 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4fd3', endColorstr='#c56dd7', GradientType=1 );
  border-radius: 5px;
  color: #ffffff!important;
  padding:0px;
  font-size: 13px;
  text-align: left!important;
  margin: 20px 0;

}



.redpink-ksp-code{
  background: rgba(249,78,98,1);
  background: -moz-linear-gradient(-45deg, rgba(249,78,98,1) 0%, rgba(255,145,112,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249,78,98,1)), color-stop(100%, rgba(255,145,112,1)));
  background: -webkit-linear-gradient(-45deg, rgba(249,78,98,1) 0%, rgba(255,145,112,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(249,78,98,1) 0%, rgba(255,145,112,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(249,78,98,1) 0%, rgba(255,145,112,1) 100%);
  background: linear-gradient(135deg, rgba(249,78,98,1) 0%, rgba(255,145,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f94e62', endColorstr='#ff9170', GradientType=1 );
  border-radius: 5px;
  color: #ffffff!important;
  padding:0px;
  font-size: 13px;
  text-align: left!important;
  margin: 20px 0;

}
.redpink-ksp-code h2, .redpink-ksp-code h5{
  color: #ffffff!important;
}
.redpink-ksp-code ul{
    margin-top: 15px;
}
.redpink-ksp-code ul li{
  list-style: none;
  padding:4px 10px;

}
.redpink-ksp-code ul li button{
  border-radius: 4px;
  padding:15px 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}
.redpink-ksp-code ul li span a{
  color: #ffffff;
  text-decoration: underline;
}
.redpink-ksp-code ul li span a:hover{
  color: #05E3FF;
  text-decoration: underline;
}

.vd-ksp-code{

  color: #060606;
  padding:5px;
  font-size: 13px;
  text-align: left!important;


}
.vd-ksp-code ul{
  margin-top: 15px;
}
.vd-ksp-code h2,.vd-ksp-code h5{
  color: #000000!important;
      padding: 6px 0;
}
.vd-ksp-code ul li{
    list-style: none;
  padding:4px 10px;
}
.orange-ksp-code {
  background: rgba(255,199,51,1) !important;
  background: -moz-linear-gradient(140deg, #218800 0%, #87ebe2 100%) !important;
  background: -webkit-linear-gradient(140deg, #218800 0%, #87ebe2 100%) !important;
  background: -o-linear-gradient(140deg, #218800 0%, #87ebe2 100%) !important;
  background: -ms-linear-gradient(140deg, #218800 0%, #87ebe2 100%) !important;
  background: linear-gradient(140deg, #218800 0%, #87ebe2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4fd3', endColorstr='#c56dd7', GradientType=1 );
  border-radius: 5px;
  color: #ffffff!important;
  padding:0px;
  font-size: 13px;
  text-align: left!important;
  margin: 20px 0;
}

.darkblue-ksp-code {
  background: rgba(255,199,51,1) !important;
  background: -moz-linear-gradient(140deg, #1c5651 0%, #59ffd9 100%) !important;
  background: -webkit-linear-gradient(140deg, #1c5651 0%, #59ffd9 100%) !important;
  background: -o-linear-gradient(140deg, #1c5651 0%, #59ffd9 100%) !important;
  background: -ms-linear-gradient(140deg, #1c5651 0%, #59ffd9 100%) !important;
  background: linear-gradient(140deg, #1c5651 0%, #59ffd9 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4fd3', endColorstr='#c56dd7', GradientType=1 );
  border-radius: 5px;
  color: #ffffff!important;
  padding:0px;
  font-size: 13px;
  text-align: left!important;
  margin: 20px 0;
}

.banner-div {
  position: absolute;
  top:95px;
  left:10%;
  /*color: #fff;*/
}

/* .banner-div h2 { */
  /*color: #fff;*/
/* } */

.link-input-class {
  padding: 1.5rem;
  border-radius: 50px;
  position: relative;
  margin: 5px 0;
}

.link-submit-class {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 40%;
  background: white;
  color: black;
  font-weight: bold;
  border: 1px solid #ccc;
  font-size: 11px;
}

.link-span-class {
  position:relative;
  display: inherit;
  width: 60%;
}

.min-height-div {
  min-height: 20px;
  display: inline-block;
}

.min-height-div span {
  font-size: 12px;
  color: red;
}