
<section id="main-content" class="gray-bg">
 <div class="w3_agile_banner_topWhite">
    <div class="container">
      <div class="main-title-outer-none agile_phone_mail">
       <div class="col-md-8 col-lg-8 pull-left text-left">
        <div class="col-md-12 col-lg-12 main-title margin0"> <i class="fa" aria-hidden="true"><img src="assets/images/store.png" width="30" height="30" alt=""></i>STORE</div>
        <div class="col-md-12 col-lg-12 font-size11">Simple dummy text of the printing and typesetting industry.</div>
        </div>
         <div class="col-md-4 col-lg-4 paddingNo">
        <ul class="agile_forms font-size11  pull-right text-right">
         <li>
            <ul class="nav navbar-nav navbar-right">
              <li>SELECT STORE</li>
            </ul>
          </li>
          <li>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-map-marker" aria-hidden="true"></i> All Cities<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-cart" role="menu">
                  <li> <span class="item"> <span class="item-info"> <span>AMAZON</span> </span> </span> </li>
                  <li> <span class="item"> <span class="item-info"> <span>AMAZON</span> </span> </span> </li>
                  <li> <span class="item"> <span class="item-info"> <span>AMAZON</span> </span> </span> </li>
                  <li> <span class="item"> <span class="item-info"> <span>AMAZON</span> </span> </span> </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
         </div>
      </div>

      <div class="">


        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="container">
  <section class="wrapper">
    <div class="cart-wrapper margin-bottom15">
      <div class="col-md-3 col-lg-3">
        <div id="sidebar">
          <div class="checklist categories margin-bottom2">
            <h3>CATEGORIES<i class="fa fa-refresh pull-right pink-color" aria-hidden="true"></i>
              <input type="text" class="form-control search-small" placeholder=" Search">
            </h3>
            <div class="checkbox checkbox-danger">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1"> Accessories (200) </label>
              <i class="fa fa-plus pull-right" aria-hidden="true"></i> </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox2" type="checkbox">
              <label for="checkbox2"> Art & Craft Supplies(197) </label>
              <i class="fa fa-plus pull-right" aria-hidden="true"></i> </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox3" type="checkbox">
              <label for="checkbox3"> Baby Gear (98) </label>
              <i class="fa fa-plus pull-right" aria-hidden="true"></i> </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox4" type="checkbox">
              <label for="checkbox4"> Back to School(98) </label>
            </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox5" type="checkbox">
              <label for="checkbox5"> Bath(320) </label>
              <i class="fa fa-plus pull-right" aria-hidden="true"></i> </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox6" type="checkbox">
              <label for="checkbox6"> Best Seller (400) </label>
            </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox7" type="checkbox">
              <label for="checkbox7"> Books (120) </label>
            </div>
            <div class="checkbox checkbox-danger">
              <input id="checkbox8" type="checkbox" checked>
              <label for="checkbox8"> Clothing (410) </label>
            </div>
            <div class="font-size11">
              <label class="pink-color"> + 5 MORE </label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="checklist categories margin-bottom2">
            <h3>AGE GROUPS<i class="fa fa-refresh pull-right pink-color" aria-hidden="true"></i></h3>
            <div class="checklist sizes">
              <ul>
                <li><a href=""><span></span>Planing Baby</a></li>
                <li><a href=""><span></span>Expecting</a></li>
                <li><a href=""><span></span>0 - 6 Months</a></li>
              </ul>
              <ul>
                <li><a href=""><span></span>6 - 12 Months</a></li>
                <li><a href=""><span></span>12 - 24 Months</a></li>
                <li><a href=""><span></span>2 - 4 Months</a></li>
              </ul>
              <ul>
                <li><a href=""><span></span>4 - 6 Months</a></li>
                <li><a href=""><span></span>6 - 8 Months</a></li>
                <li><a href=""><span></span>8 - 12 Months</a></li>
              </ul>
              <ul>
                <li><a href=""><span></span>Teens</a></li>
                <li><a href=""><span></span>Parents</a></li>
                <li><a href=""><span></span>Open to All</a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="checklist categories margin-bottom2">
            <h3>PRICE RANGE<i class="fa fa-refresh pull-right pink-color" aria-hidden="true"></i></h3>
            <div class="col-md-12 paddingNo"> <img src="assets/images/price-range.png" width="100%" height="auto" alt=""/>
              <div class="col-md-6 paddingNo">
                <div>
                  <div class="dropdown">
                    <button class="btnN btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> MIN
                    <div class="pull-right"><span class="caret"></span></div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                    </ul>
                  </div>
                  <label class="margin-top6"> TO</label>
                </div>
              </div>
              <div class="col-md-6 paddingNo">
                <div>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="#8377 10,000">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="checklist categories margin-bottom2">
            <h3>COLOUR<i class="fa fa-refresh pull-right pink-color" aria-hidden="true"></i></h3>
            <div class="checklist colors">
              <ul>
                <li>
                  <div class="border-rds" style="background:#1bbc9b;"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#2dcc70"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#9a59b5"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#34495e"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#1bbc9b"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#f1c40f"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#e67f22"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#e84c3d"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#fe5722"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#95a5a5"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#ea1e63"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#9c28b1"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#00bcd5"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#795547"></div>
                </li>
                <li>
                  <div class="border-rds" style="background:#000000"></div>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="checklist categories margin-bottom2">
            <h3>DISCOUNT<i class="fa fa-refresh pull-right pink-color" aria-hidden="true"></i></h3>
            <div class="checklist sizes">
              <ul>
                <li>
                  <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1"> 50% and above </label>
                  </div>
                  <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2"> 40% and above </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 paddingNo">
         <div class=" pull-left cart-border-bottom">
          <div class="main-title "> Clothing Collection (410 items)</div>
          <div class="span-outer"> <span class="pull-right text-danger last-update">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Stores<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="checkbox checkbox-danger">
                      <input id="store_amazon" type="checkbox">
                      <label for="store_amazon"> Amazon </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-danger">
                      <input id="store_hopscotch" type="checkbox">
                      <label for="store_hopscotch"> Hopscotch </label>
                    </div>
                  </li>
                  <!--li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li-->
                </ul>
              </li>
            </ul>
            </span> </div>
        </div>
        <div class="product" *ngFor="let item of createRange(noOfItems); index as i">
          <div class="info-large">
            <button class="add-cart-large">Add To Cart</button>
          </div>
          <div [ngClass]="make3D[i]" (mouseover)="changeStyle($event,i)" (mouseout)="changeStyle($event,i)">
            <div class="product-front">
              <div class="shadow"></div>
              <img src="assets/images/shirt1.png" alt="" />
              <div class="image_overlay"></div>
              <div class="add_to_cart">Add to cart</div>

              <div class="stats">
                <div class="stats-container">
                  <div class="product-options">
                    <div class="colors font-size11 pink-color">
                      <div class="c-blue"><i class="fa fa-star" aria-hidden="true"></i></div>
                      <div class="c-red"><i class="fa fa-star" aria-hidden="true"></i></div>
                      <div class="c-white"><i class="fa fa-star" aria-hidden="true"></i></div>
                      <div class="c-green"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                      <span><small>23 REVIEW</small></span> </div>
                  </div>
                  <span class="product_name">US Polo Kids Solid Cotton <br>
                  T Shirt</span>
                  <br> <br>

                  <h3 class="pull-left">&#8377;39</h3>
                  <span class="product_price pull-right"><button type="button" class="btn-fresh btn-xs pink-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;BUY NOW</button></span> </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <hr>
  </section>
  </div>
</section>
