.all-caps{
  text-transform: uppercase!important;
}
.box.height-400 img{
  height: 400px!important;
}
.margin-bottom15{
  margin-bottom: 15px!important;
}
.dropdown-filter{
    cursor:pointer;
}
.dropdown-filter:hover{
    color:#e35b7f!important;
}
.color-pink-dropdown{
  color:#e35b7f!important;
}
.no-border-bottom{
  border-bottom: none!important;
}
.bg-gray-dropdown{
  background-color: rgb(240,240,240)!important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: rgb(240,240,240)!important;
    color: #333333 !important;
}
.related-hr{
    margin-top: 12px!important;
    margin-bottom: 12px!important;
}
.related-ellipsis-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 17px;
    width: 100%;
    line-height: 1.15;
}

.related-ellipsis-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 52px;
    width: 100%;
}


.arrow-left-right{
  /*position: absolute;*/
  z-index: 99;
  /*top: 41%;*/
  padding: 0!important;
}
a.pull-left.left.fa.fa-chevron-left.btn {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
  padding: 11px;
  z-index: 99999;
  position: absolute;
  left: -55px;
  top: 163px;
  color: #e35b7f!important;
  /* margin-left: -40px; */
  /* z-index: 999999999; */
  /* position: absolute; */
  border:1px solid #e35b7f;
}
a.pull-right.right.fa.fa-chevron-right.btn {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
  padding: 11px;
  z-index: 99999;
  position: absolute;
  right: -55px;
  top: 163px;
  color: #e35b7f!important;
  /* margin-left: -40px; */
  /* z-index: 999999999; */
  /* position: absolute; */
  border:1px solid #e35b7f;
}

.carousel ul{
  position: inherit;
}

.padding5px{
  padding: 5px!important;
}


.master-cat-btn{
  height:40px!important;
  width:auto!important;
  font-size:16px!important;
  font-weight:bolder!important;
  line-height: 0!important;
  border: none;
  outline: none;
  margin-bottom: 12px;
  /*border-radius: 3px 3px 0px 0px;*/
  /*background-color: #777!important;*/

  border-radius: 0px;
  background-color: transparent!important;
  color: black;
}
.master-cat-selected{
  /*background-color: #e45b80!important;*/
  outline: none;

  border-bottom: 3px solid red;
  /*background-color: rgba(255, 164, 164, 0.36)!important;*/
}

.master-cat-btn:hover{
  border-bottom: 3px solid red;
  /*background-color: rgba(255, 164, 164, 0.36)!important;*/
  /*text-decoration: none!important;*/
}
.master-cat-btn:active{
  outline: none!important;
  border: none!important;
  border-style: none!important;
  background-color: transparent!important;

  box-shadow: none!important;
}


.category-filter-box{
  /*border-top: 1px solid #e45b80;*/
  padding: 0 15px 15px 15px !important;

  border-top: 1px solid rgba(255, 0, 0, 0.17);
  text-align: left;
}
.sub-cat-button {
    /*font-size: 10px!important;
    font-weight: bolder!important;
    padding: 10px 30px!important;
    width: auto;
    margin: 1px;
    line-height: 40px;
    white-space: nowrap;
    border-radius: 50px;*/

   white-space: nowrap;
   font-size: 10px!important;
   padding: 7px 17px!important;
   border-radius: 0!important;
   width: auto;
   margin: 1px;
   font-weight: 600;
   line-height: 30px;
}
.sub-cat-button:hover {
  background-color: #d5d5d5!important;
  color:#000!important;
  /*opacity: 0.5;*/
}

.sub-cat-selected{
  background-color: #d5d5d5!important;
  color:#000!important;
  outline: none;
  background-size: 9px 9px!important;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 8px;
}
.pagination > .active > a{
  background-color:#e35b7f!important;
  border-color:#ff007b!important;
}
.pagination > .disabled > a{
  //background-color:transparent!important;
}
.matgin-top-13px{
  margin-top:-12px;
}

.blog-ellipsis-title {
    font-size: 16px!important;
    font-weight: 700;
    margin-bottom: 15px!important;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    width: 100%;
    color: #ffffff;
}
