<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<app-topnavnofilter></app-topnavnofilter>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="container paddingNo">
      <div class="row margin-bottom15">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="single-blog-item margin0">
            <div class="blog-thumnail">
              <section class="post-footer footer-im">
                <div class="post-footer-comment-wrapper">
                  <div class="comment-form"> </div>
                  <div class="comment">
                    <div class="media">
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 blog-content paddingNo">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo" *ngIf="tvIndividual">
                          <!-- 16:9 aspect ratio -->
                          <h1 class="font-bolder title-header">{{tvIndividual.title}}</h1>
                          <a *ngFor="let cat of tvIndividual.category; let i=index" routerLink="/categorywise-tv/{{cat.id}}">
                            <span class="ion-android-data light-blue-button all-caps" style="background-color:grey" [innerHTML]="cat.name"></span>&nbsp;
                            <br *ngIf="((i+1)%7)==0">
                            <br *ngIf="((i+1)%7)==0">
                          </a>
                          <div class="embed-responsive embed-responsive-16by9 margin-top margin-bottom15px">
                            <iframe class="embed-responsive-item" [src]="tvIndividual.path" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
                          </div>
                          <div class="margin-bottom15 margin-top" *ngIf="!_apiService.loggedIn() && tvIndividual">
                            <div class="green-bar">
                              <div class="main-bordernone pull-left">
                                <div class="main-title btn-white-elli"> <i class="fa" aria-hidden="true">
                                  <img src="assets/images/icon-us.png" width="35" height="36" alt=""></i>
                                  Get weekly stories in your inbox
                                </div>
                                <div class="span-outer"><span class="pull-right text-danger last-update">
                                  <a [routerLink]="['/signup', {c: 'videos-'+tvIndividual.id}]" (click)="_commonService.navUrl='/tv-individual/'+tvIndividual.id"><span class="ion-android-data icon"></span>SIGN UP NOW<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo margin-top" *ngIf="promotionInsideContentTop">
                          <app-advertise [add]="promotionInsideContentTop"></app-advertise>
                        </div> -->
                        
                        <!-- Author -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo" *ngIf="tvIndividual">
                          <div class="main-title-outer2 pull-left  margin-top border-bottom0">
                            <div class="col-md-7 col-lg-7 col-sm-5 col-xs-4 pull-left border-right">
                              <div class="media-left pull-left">
                                <a routerLink="/authorwise-posts/{{tvIndividual.creator_id}}">
                                  <app-round-pic [picPath]="tvIndividual.author_img" [userName]="tvIndividual.author_name" [width]="'40px'" [height]="'40px'" [className]="'padding-top2px'"></app-round-pic>
                                </a>
                              </div>
                              <div class="media-body pull-left width80p">
                                <a routerLink="/authorwise-posts/{{tvIndividual.creator_id}}" class="anchor-username">
                                <h4 class="media-heading margin-top1per color-black">{{tvIndividual.author_name}}</h4>
                                </a>
                                <span class="anchor-time">{{_commonService.setDateFormat(tvIndividual.published_date) | date:'yMMMd'}} <!--| 3 MIN READ--></span>
                              </div>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-7 col-xs-8 pull-right">
                              <div class="post-footer-option margin-lft">
                              <ul class="list-unstyled text-left">
                              <app-likecomment [loveData]="tvIndividual.liked" [entityType]="tvIndividual.post_type" [entityId]="tvIndividual.id" [permaLink]="tvIndividual.perma_link" [loveCount]="tvIndividual.likes" [commentCount]="tvIndividual.comment_count" [isBlack]="'true'"></app-likecomment>
                              <li class="social-ind width25p">
                                <a href="javascript:void(0);" (click)="doBookmark(tvIndividual.post_type,tvIndividual.id)">
                                  <i class="fa fa-bookmark-o color-black like-comment-img" aria-hidden="true" *ngIf="!isBookmarked"></i>
                                  <i class="fa fa-bookmark color-pink like-comment-img" aria-hidden="true" *ngIf="isBookmarked"></i>
                                  <p class="paddingNo margin0">{{tvIndividual.bookmark_count}}</p>
                                </a>
                               </li>
                              </ul>
                              </div>
                            </div>
                            <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo margin-bottom15px">
                              <div class="addthis_inline_share_toolbox"></div>
                            </div> -->
                          </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="tvIndividual">
                          <p class="article-content-style" [innerHTML]="safeHtml(tvIndividual.content)"></p>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo margin-top" [vp-in-view-config]="{infinite: true}" (vp-in-view)="articleEnd = true;"></div>
                        </div>
                        <span *ngIf="promotionInsideContentBottom">
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo margin-top" *ngFor="let botprom of promotionInsideContentBottom">
                            <app-advertise [add]="botprom"></app-advertise>
                          </div>
                        </span>

                        <!-- Share Buttons -->
                        <app-web-inline-share [shareCount]="shareCount"></app-web-inline-share>
                        
                        <!-- Comments -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="responses" *ngIf="tvIndividual">
                          <div class="blog-thumnail">
                            <section class="post-footer footer-im">
                              <div class="post-footer-comment-wrapper">
                                <div class="comment-form"> </div>
                                <div class="comment">
                                  <div class="media">
                                    <div class="main-title-outer pull-left">
                                      <div class="main-title "> <i class="fa" aria-hidden="true"><img src="assets/images/tre.png" width="30" height="30" alt=""></i>RESPONSES</div>
                                    </div>
                                    <div *ngIf="tvIndividual.comments.length==0">
                                      <div class="blog-content paddingNo">
                                        No comment posted yet.
                                      </div>
                                    </div>
                                    <div *ngIf="tvIndividual.comments.length!=0">
                                      <div class="blog-content" *ngFor="let comment of tvIndividual.comments.slice().reverse(); let i=index" style="padding: 5px 0px;">
                                        <div [style.display]="(i<2 || showAll) ? '':'none'">
                                          <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12">
                                            <a href="#">
                                              <app-round-pic [picPath]="comment.user_profile" [userName]="comment.user_name" [width]="'40px'" [height]="'40px'"></app-round-pic>
                                            </a>
                                          </div>
                                          <div class="col-md-11 col-lg-11 col-sm-12 col-xs-12">
                                            <h4 class="capitalize margin0 padding-bottom10px">
                                              <a href="#" *ngIf="getUserName()==null || getUserName()!=comment.user_name">{{comment.user_name}}</a>
                                              <a href="#" *ngIf="getUserName()!=null && getUserName()==comment.user_name">You</a>
                                            </h4>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo">
                                              <p class="margin0"[innerHTML]="safeHtml(comment.content)"></p>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo padding-top10px">
                                              <div class="pull-left paddingNo font-size11 col-md-10">
                                                {{_commonService.setDateFormat(comment.created_at) | date:'yMMMd'}}
                                                <app-comments-like [isLoved]="comment.isLoved" [loveCount]="comment.likes" [entityType]="comment.type" [commentId]="comment.id" [entityId]="tvIndividual.id" [permaLink]="tvIndividual.perma_link" ></app-comments-like>
                                                <span style="margin:10px;color:#337ab7; cursor: pointer;" (click)="showReplyComment(comment.id, i)">Reply</span>
                                              </div>
                                            </div>

                                            <!-- reply Comment -->
                                            <div *ngIf="comment.commentReplies.length" class="col-md-12 paddingNo" style="margin-top: 10px">
                                              <div class="col-md-1 text-center paddingNo">
                                                <img src="assets/images/arrow-down-right.png" width="20px" height="20px">
                                              </div>
                                              <div class="col-md-11 paddingNo">
                                                <div *ngFor="let reply of comment.commentReplies; let j=index"  [ngClass]="(j<2 || replyComment ==  comment.id || showReply[comment.id]) ? 'show' : 'hide'">
                                                  <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12">
                                                    <app-round-pic [picPath]="reply.user_profile" [userName]="reply.user_name" [width]="'40px'" [height]="'40px'"></app-round-pic>
                                                  </div>
                                                  <div class="col-md-10 col-lg-11 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                                                    <h4 class="capitalize margin0 padding-bottom10px" style="padding-bottom: 5px;">
                                                      <span *ngIf="getUserName()==null || getUserName()!=reply.user_name" style="font-size:15px; font-weight:600;">{{reply.user_name}}</span>
                                                      <span *ngIf="getUserName()!=null && getUserName()==reply.user_name" style="font-size:15px; font-weight:600;">You</span>
                                                    </h4>
                                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo">
                                                      <p class="margin0"[innerHTML]="safeHtml(reply.content)"></p>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingNo" style="padding-top:5px !important;">
                                                      <div class="pull-left paddingNo font-size11 col-md-10"> {{_commonService.setDateFormat(reply.created_at) | date:'yMMMd'}}
                                                      <app-comments-like [isLoved]="reply.isLoved" [loveCount]="reply.likes" [entityType]="'videos'" [commentId]="reply.id" [entityId]="tvIndividual.id" [permaLink]="tvIndividual.perma_link" ></app-comments-like>
                                                      <span style="margin:10px;color:#337ab7; cursor: pointer;" (click)="showReplyComment(reply.parent_id, i)">Reply</span></div>
                                                    </div>
                                                  </div>
                                                  <hr *ngIf="j<comment.commentReplies.length-1" style="width:100%; margin-top:0px; margin-bottom:5px;">
                                                </div>
                                                <div class="col-md-11 paddingNo" style="cursor: pointer;">
                                                  <span *ngIf="comment.commentReplies.length > 2 && !showReply[comment.id] && replyComment !=  comment.id" style="color:#337ab7;font-size:13px" (click)="showReply[comment.id] = true">
                                                    {{comment.commentReplies.length -2 }} More {{comment.commentReplies.length -2 > 1 ? 'Replies' : 'Reply'}}
                                                  </span>
                                                  <span *ngIf="showReply[comment.id] && replyComment !=  comment.id" style="color:#337ab7;font-size:13px" (click)="showReply[comment.id] = false">
                                                    Show less
                                                  </span>
                                                </div>
                                              </div>
                                            </div>

                                            <!-- reply Comment Box -->
                                            <div id="comment_id_{{comment.id}}" class="col-md-11 col-md-offset-1" style="margin-top: 10px">
                                              <div *ngIf="replyComment ==  comment.id">
                                                <ckeditor
                                                  [(ngModel)]="user_comment_reply"
                                                  [config]="{
                                                    uiColor: '#c1c1c1',
                                                    toolbar:[
                                                     { name: 'insert',items: [ 'Smiley'] }
                                                    ],
                                                    toolbarLocation: 'bottom',
                                                    contentsCss: '../assets/css/ckeditor-custom.css',
                                                    height:'100px'
                                                  }"
                                                  [readonly]="false"
                                                  debounce="500">
                                                </ckeditor>
                                                <p *ngIf="user_comment_reply_error" style="color:red; font-size:13px;">{{user_comment_reply_error}}</p>
                                                <button id="submit" name="submit" class="btn font-size13 margin-top" (click)="doCommentReply()">POST YOUR REPLY</button>
                                              </div>
                                            </div>
                                          </div>
                                          <hr *ngIf="i<tvIndividual.comments.length-1" style="width:100%; margin-top:0px; margin-bottom:5px;">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group" *ngIf="tvIndividual?.comments.length>2">
                          <label class="col-md-5 control-label" for="submit"></label>
                            <div class="col-md-3">
                              <button id="submit" name="submit" class="btn font-size13" *ngIf="!showAll" (click)="showAll=!showAll">LOAD ALL RESPONSES</button>
                              <button id="submit" name="submit" class="btn font-size13" *ngIf="showAll" (click)="showAll=!showAll">SHOW LESS</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top">
                          <div class="main-title-outer pull-left">
                            <div class="main-title "> <i class="fa" aria-hidden="true"><img src="assets/images/tre.png" width="30" height="30" alt=""></i>YOUR RESPONSE</div>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="!_apiService.loggedIn()">
                          <a routerLink="/login" style="color:#e35b7f;">Please Login to comment</a>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="_apiService.loggedIn()">
                            <ckeditor
                              [(ngModel)]="user_comment"
                              [config]="{
                                uiColor: '#c1c1c1',
                                toolbar:[
                                 { name: 'insert',items: [ 'Smiley'] }
                                ],
                                toolbarLocation: 'bottom',
                                contentsCss: '../assets/css/ckeditor-custom.css',
                                height: '100px'
                              }"
                              [readonly]="false"
                              debounce="500">
                            </ckeditor>
                            <p *ngIf="user_comment_error" style="color:red; font-size:13px;">{{user_comment_error}}</p>
                            <button id="submit" name="submit" class="btn font-size13 margin-top" (click)="doComment()">POST YOUR RESPONSE</button>
                        </div>
                      </div>
                      <!-- Advertisement goes here -->
                      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 margin-top2per art-paddingNo" *ngIf="promotions">
                        <!-- <div class="content-widget-sidebar">
                          <iframe name="f37f8c3d1ab2838" width="500px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:post Facebook Social Plugin" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FKidsstoppress%2Fposts%2F1429627087114388&width=500&show_text=true&appId=478245675520343&width=50" style="width: 350px; height: 400px;" class=""></iframe>
                        </div> -->
                        <div class="content-widget-sidebar" *ngFor="let promotion of promotions; let i=index" [ngClass]="{'hide':advertisement < i}">
                          <app-advertise [add]="promotion"></app-advertise>
                        </div>
                        <div class="content-widget-sidebar" [vp-in-view-config]="{infinite: true}" (vp-in-view)="getAdvertisement();" ></div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="relatedTv">
      <div class="row white-background paddingNo padding-top10px line-height-normal" *ngIf="relatedTv.length>0">
        <div class="container paddingNo">
        <div class="main-title-outer pull-left col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="main-title "> <i class="fa" aria-hidden="true"><img src="assets/images/television.png" width="30" height="30" alt=""></i>YOU MAY ALSO LIKE</div>
        </div>
        <div id="related" class="carousel slide height-400" data-ride="carousel" data-interval="false">
         <!-- Wrapper for slides -->

         <div class="col-md-12 col-lg-12 arrow-left-right">
            <a class="pull-left left fa fa-chevron-left btn" href="#related" data-slide="prev" *ngIf="relatedTv.length>3"></a>
             <a class="pull-right right fa fa-chevron-right btn" href="#related" data-slide="next" *ngIf="relatedTv.length>3"></a>
         </div>

         <div class="carousel-inner">

             <div class="item" *ngFor="let loop of [0,1,2]" [ngClass]="{'active':loop==0}">
                 <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 paddingNo height-400" *ngFor="let tv of relatedTv.slice((3 * loop ),(3 * loop + 3))">
                         <div class="col-item2 box-shadow">
                             <div class="photo">
                              <div class="slider-top">
                                <app-bookmark [bookmarkData]="tv.bookmarked" [entityType]="tv.post_type" [entityId]="tv.id" [bookmarkCount]="tv.bookmark_count" (update)="updateLatestArticle()"></app-bookmark></div>
                                 <div  id="crop-feature-image-tv">
                                   <a href="/details/{{tv.perma_link}}/{{tv.id}}" onclick="window.scrollTo(0,0)">
                                     <img width="100%" height="200px" class="image-fit" src="{{tv.thumbnail.split('0.jpg').join('mqdefault.jpg')}}" alt="{{tv.title}}">
                                   </a>
                                   <!-- <div class="carousel-caption2">
                                   <div class="post-footer-option margin-top margin-lft ">
                                   <ul class="list-unstyled text-left pull-left width-100">
                                     <app-likecomment [loveData]="tv.liked" [entityType]="tv.post_type" [entityId]="tv.id" [loveCount]="tv.likes" [commentCount]="tv.comment_count"></app-likecomment>
                                   </ul>
                                   </div>
                                   </div> -->
                                 </div>
                             </div>
                             <div class="info-2">
                                 <div class="images-product-old">
                                     <div class="product-old">
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top5px paddingNo">
                                         <app-category [categories]="tv.category" [id]="tv.id"></app-category>
                                        <h4 class="blog-ellipsis"><a href="/details/{{tv.perma_link}}/{{tv.id}}" onclick="window.scrollTo(0,0)"><b>{{tv.title}}</b></a></h4></div>
                                         <div class="blog-content">
                                             <div class="">
                                               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left margin-top paddingNo">
                                               <div class="media-left">
                                               <a routerLink="/authorwise-posts/{{tv.creator_id}}">
                                               <app-round-pic [picPath]="tv.author_img" [userName]="tv.author_name" [width]="'40px'" [height]="'40px'" [className]="''"></app-round-pic>
                                               </a>
                                               </div>
                                               <div class="media-body">
                                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo">
                                                   <a routerLink="/authorwise-posts/{{tv.creator_id}}" class="anchor-username">
                                                     <h4 class="media-heading capitalize font-size13 color-black">{{tv.author_name}}</h4>
                                                   </a>
                                                   <span class="anchor-time all-caps" [innerHtml]="_commonService.setDateFormat(tv.published_date) | date:'yMMMd'"></span>
                                                 </div>
                                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo margin-top">
                                                    <ul class="list-unstyled text-left pull-right width-100per">
                                                       <app-likecomment [loveData]="tv.liked" [entityType]="tv.post_type" [entityId]="tv.id" [permaLink]="tv.perma_link" [loveCount]="tv.likes" [commentCount]="tv.comment_count"></app-likecomment>
                                                    </ul>
                                                 </div>
                                               </div>
                                               </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="clearfix"></div>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
        </div>
        </div>
      </div>
  </div>

    <div class="row light-gry-background-event margin-top paddingNo padding-top10px padding-bottom10px">
        <div class="container" *ngIf="events">
          <div class="main-title-outer pull-left">
            <div class="main-title color-black"><i class="font-size18 fa fa-calendar"></i>UPCOMING EVENTS</div>
            <div class="span-outer">
              <span class="pull-right text-danger last-update"> <a class="color-black hover-color-black" routerLink="/event-all">VIEW ALL EVENTS<i class="fa fa-caret-right" aria-hidden="true"></i></a></span>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 web-view">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar" *ngIf="events.length!=0">
                <ul>
                  <li class="recent-post" *ngFor="let event of events.slice(0,2)" style="margin-bottom: 1px;height: 115px; background-color: transparent;">
                    <div class="post-img">
                      <div class="red-orangebtn pink-btn-cal all-caps pink-date-box">
                        <div style="width:100%;height:auto; margin:4px auto;">
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'EEE'}}</b></h5>
                        <h3 class="white-color paddingNo" style="font-size:34px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'dd'}}</b></h3>
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'MMM'}}</b></h5>
                        </div>
                      </div>
                    </div>
                    <div style="margin-left:90px;margin-top:-80px;">
                    <a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}">
                    <h5 class="capitalize">{{event.title | capitalize}}</h5>
                    </a>
                    <p class="margin-top6 all-caps gry-color">
                       <small> {{_commonService.setDateFormat(event.start_date) | date:'jm'}} - {{_commonService.setDateFormat(event.end_date) | date:'jm'}} </small>
                       <br/><a href="//maps.google.com/maps?q={{event.google_map_address.slice(1,-1)}}" target="_blank">
                         <small class="pink-color-text all-caps"><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue_city}}, {{event.venue_state}} </small>
                       </a>
                   </p>
                   </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 web-view">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar" *ngIf="events.length!=0">
                <ul>
                  <li class="recent-post" *ngFor="let event of events.slice(2,4)" style="margin-bottom: 1px;height: 115px; background-color: transparent;">
                    <div class="post-img">
                      <div class="red-orangebtn pink-btn-cal all-caps pink-date-box">
                        <div style="width:100%;height:auto; margin:4px auto;">
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'EEE'}}</b></h5>
                        <h3 class="white-color paddingNo" style="font-size:34px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'dd'}}</b></h3>
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'MMM'}}</b></h5>
                        </div>
                      </div>
                    </div>
                    <div style="margin-left:90px;margin-top:-80px;">
                    <a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}">
                    <h5 class="capitalize">{{event.title | capitalize}}</h5>
                    </a>
                    <p class="margin-top6 all-caps gry-color">
                      <small> {{_commonService.setDateFormat(event.start_date) | date:'jm'}} - {{_commonService.setDateFormat(event.end_date) | date:'jm'}} </small>
                     <br/><a href="//maps.google.com/maps?q={{event.google_map_address.slice(1,-1)}}" target="_blank">
                       <small class="pink-color-text all-caps"><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue_city}}, {{event.venue_state}} </small>
                     </a>
                   </p>
                   </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 web-view">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar" *ngIf="events.length!=0">
                <ul>
                  <li class="recent-post" *ngFor="let event of events.slice(4)" style="margin-bottom: 1px;height: 115px; background-color: transparent;">
                    <div class="post-img">
                      <div class="red-orangebtn pink-btn-cal all-caps pink-date-box">
                        <div style="width:100%;height:auto; margin:4px auto;">
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'EEE'}}</b></h5>
                        <h3 class="white-color paddingNo" style="font-size:34px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'dd'}}</b></h3>
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'MMM'}}</b></h5>
                        </div>
                      </div>
                    </div>
                    <div style="margin-left:90px;margin-top:-80px;">
                    <a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}">
                    <h5 class="capitalize">{{event.title | capitalize}}</h5>
                    </a>
                    <p class="margin-top6 all-caps gry-color">
                      <small> {{_commonService.setDateFormat(event.start_date) | date:'jm'}} - {{_commonService.setDateFormat(event.end_date) | date:'jm'}} </small>
                     <br/><a href="//maps.google.com/maps?q={{event.google_map_address.slice(1,-1)}}" target="_blank">
                       <small class="pink-color-text all-caps"><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue_city}}, {{event.venue_state}} </small>
                     </a>
                   </p>
                   </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mobile-view">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar" *ngIf="events.length!=0">
                <ul>
                  <li class="recent-post" *ngFor="let event of events.slice(0,3)" style="margin-bottom: 1px;height: 115px; background-color: transparent;">
                    <div class="post-img">
                      <div class="red-orangebtn pink-btn-cal all-caps pink-date-box">
                        <div style="width:100%;height:auto; margin:4px auto;">
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'EEE'}}</b></h5>
                        <h3 class="white-color paddingNo" style="font-size:34px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'dd'}}</b></h3>
                        <h5 class="white-color paddingNo" style="font-size:12px;"><b>{{_commonService.setDateFormat(event.start_date) | date:'MMM'}}</b></h5>
                        </div>
                      </div>
                    </div>
                    <div style="margin-left:90px;margin-top:-80px;">
                    <a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}">
                    <h5 class="capitalize">{{event.title | capitalize}}</h5>
                    </a>
                    <p class="margin-top6 all-caps gry-color">
                      <small> {{_commonService.setDateFormat(event.start_date) | date:'jm'}} - {{_commonService.setDateFormat(event.end_date) | date:'jm'}} </small>
                     <br/><a href="//maps.google.com/maps?q={{event.google_map_address.slice(1,-1)}}" target="_blank">
                       <small class="pink-color-text all-caps"><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue_city}}, {{event.venue_state}} </small>
                     </a>
                   </p>
                   </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
   
        <div class="row dark-gry-background paddingNo padding-top10px" *ngIf="recentTvs">
          <div class="container paddingNo">
          <div class="main-title-outer pull-left">
            <div class="main-title "> <i class="fa" aria-hidden="true"><img src="assets/images/television.png" width="30" height="30" alt=""></i>KSP LATEST VIDEOS</div>
          </div>
          <div id="recent" class="carousel slide height-400" data-ride="carousel" data-interval="false">
           <!-- Wrapper for slides -->

           <div class="col-md-12 col-lg-12 arrow-left-right">
              <a class="pull-left left fa fa-chevron-left btn" href="#recent" data-slide="prev" *ngIf="recentTvs.length>3"></a>
               <a class="pull-right right fa fa-chevron-right btn" href="#recent" data-slide="next" *ngIf="recentTvs.length>3"></a>
           </div>

           <div class="carousel-inner">

               <div class="item" *ngFor="let loop of [0,1,2]" [ngClass]="{'active':loop==0}">
                   <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 paddingNo height-400" *ngFor="let tv of recentTvs.slice((3 * loop ),(3 * loop + 3))">
                         <div class="col-item2 box-shadow">
                             <div class="photo">
                              <div class="slider-top">
                                <app-bookmark [bookmarkData]="tv.bookmarked" [entityType]="tv.post_type" [entityId]="tv.id" [bookmarkCount]="tv.bookmark_count" (update)="updateLatestArticle()"></app-bookmark></div>
                                 <div  id="crop-feature-image-tv">
                                   <a href="/details/{{tv.perma_link}}/{{tv.id}}" onclick="window.scrollTo(0,0)">
                                     <img width="100%" height="200px" class="image-fit" src="{{tv.thumbnail.split('0.jpg').join('mqdefault.jpg')}}" alt="{{tv.title}}">
                                   </a>
                                   <!-- <div class="carousel-caption2">
                                   <div class="post-footer-option margin-top margin-lft ">
                                   <ul class="list-unstyled text-left pull-left width-100">
                                     <app-likecomment [loveData]="tv.liked" [entityType]="tv.post_type" [entityId]="tv.id" [loveCount]="tv.likes" [commentCount]="tv.comment_count"></app-likecomment>
                                   </ul>
                                   </div>
                                   </div> -->
                                 </div>
                             </div>
                             <div class="info-2">
                                 <div class="images-product-old">
                                     <div class="product-old">
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top5px paddingNo">
                                         <app-category [categories]="tv.category" [id]="tv.id" [type]="'tv'"></app-category>
                                        <h4 class="blog-ellipsis"><a href="/details/{{tv.perma_link}}/{{tv.id}}" onclick="window.scrollTo(0,0)"><b>{{tv.title}}</b></a></h4></div>
                                         <div class="blog-content">
                                             <div class="">
                                               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left margin-top paddingNo">
                                               <div class="media-left">
                                               <a routerLink="/authorwise-posts/{{tv.creator_id}}">
                                               <app-round-pic [picPath]="tv.author_img" [userName]="tv.author_name" [width]="'40px'" [height]="'40px'" [className]="''"></app-round-pic>
                                               </a>
                                               </div>
                                               <div class="media-body">
                                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo">
                                                   <a routerLink="/authorwise-posts/{{tv.creator_id}}" class="anchor-username">
                                                     <h4 class="media-heading capitalize font-size13 color-black">{{tv.author_name}}</h4>
                                                   </a>
                                                   <span class="anchor-time all-caps" [innerHtml]="_commonService.setDateFormat(tv.published_date) | date:'yMMMd'"></span>
                                                 </div>
                                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo margin-top">
                                                    <ul class="list-unstyled text-left pull-right width-100per">
                                                       <app-likecomment [loveData]="tv.liked" [entityType]="tv.post_type" [entityId]="tv.id" [loveCount]="tv.likes" [commentCount]="tv.comment_count"></app-likecomment>
                                                    </ul>
                                                 </div>
                                               </div>
                                               </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="clearfix"></div>
                             </div>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
          </div>
          </div>
        </div>
    <div class="clearfix"></div>
  </section>
</section>