<app-topnavnofilter></app-topnavnofilter>
<div id="paymentDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="pull-right">
            <a class="closePopup closeButton" href="javascript:void(0);" data-dismiss="modal">×</a>
          </div>
          <div>
            <div class="panel panel-default">
              <div class="text-center small-text">
                <p class="font-size21 color-pink">Thank you for your Purchase!.</p>
                <p class="font-size18">If you are not redirected automatically to your bundle, Please Click here.</p>
                
                <div class="margin-top8per">
                    
                  <button class="btn pink-color-button font-size15" data-dismiss="modal" (click)="viewBundle()">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="paymentDetailsFai" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="pull-right">
            <a class="closePopup closeButton" href="javascript:void(0);" data-dismiss="modal">×</a>
          </div>
          <div>
            <div class="panel panel-default">
              <div class="text-center small-text">
                <p class="font-size21 color-pink">Sorry,The Payement is not successfull.</p>
                <p class="font-size18">Please Try Again</p>
                
                <div class="margin-top8per">
                    
                  <button class="btn pink-color-button font-size15" data-dismiss="modal" (click)="viewBundle()">Try Again</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="paymentDetailsShop" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-right">
              <a class="closePopup closeButton" href="javascript:void(0);" data-dismiss="modal">×</a>
            </div>
            <div>
              <div class="panel panel-default">
                <div class="text-center small-text">
                  <p class="font-size21 color-pink">Thank you for your Purchase!.</p>
                  <p class="font-size18">If you are not redirected automatically, Please Click here.</p>
                  
                  <div class="margin-top8per">
                      
                    <button class="btn pink-color-button font-size15" data-dismiss="modal" (click)="viewShop()">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="paymentDetailsCode" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="pull-right">
                <a class="closePopup closeButton" href="javascript:void(0);" data-dismiss="modal">×</a>
              </div>
              <div>
                <div class="panel panel-default">
                  <div class="text-center small-text">
                    <p class="font-size21 color-pink">Thank you for your Purchase!.</p>
                    <p class="font-size18">If you are not redirected automatically, Please Click here.</p>
                    
                    <div class="margin-top8per">
                        
                      <button class="btn pink-color-button font-size15" data-dismiss="modal" (click)="viewCode()">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>