<app-topnavnofilter></app-topnavnofilter>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row" >
      <div class="content">
        <h1>Brand Registration</h1>
        <div class="main">
          <form [formGroup]="regForm" (ngSubmit)="regForm.valid && registerBrand(regForm.value)" #formReg="ngForm">

              <h5 class="margin0">First Name</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['firstname']">
              <div *ngIf="(regForm.controls['firstname'].hasError('required') && regForm.controls['firstname'].dirty) || (regForm.controls['firstname'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter your first name</div>

              <h5>Last Name</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['lastname']">
              <div *ngIf="(regForm.controls['lastname'].hasError('required') && regForm.controls['lastname'].dirty) || (regForm.controls['lastname'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter your last name</div>

              <h5>Name of Business</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['business_name']">
              <div *ngIf="(regForm.controls['business_name'].hasError('required') && regForm.controls['business_name'].dirty) || (regForm.controls['business_name'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter your business name</div>

              <h5>Description of Business</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['business_desc']">
              <div *ngIf="(regForm.controls['business_desc'].hasError('required') && regForm.controls['business_desc'].dirty) || (regForm.controls['business_desc'].hasError('required') && formReg.submitted)" class="error-survey-form">Please write something about your business</div>

              <h5>Email</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['email']">
              <div *ngIf="(regForm.controls['email'].hasError('required') && regForm.controls['email'].dirty) || (regForm.controls['email'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter your email id</div>
              <div *ngIf="!regForm.controls['email'].hasError('required') && ((regForm.controls['email'].hasError('email') && regForm.controls['email'].dirty) || (regForm.controls['email'].hasError('email') && formReg.submitted))" class="error-survey-form">Please enter a valid email</div>
              <div *ngIf="!regForm.controls['email'].hasError('required') && ((regForm.controls['email'].hasError('emailExist') && regForm.controls['email'].dirty) || (regForm.controls['email'].hasError('emailExist') && formReg.submitted))" class="error-survey-form">This email id is already registered</div>

              <h5>Phone</h5>
              <div class="business-dropdow" style="width:30%;">
                <select name="countryCode" id="countryCodeDD" class="country_dd country-isd paddingNo font-size11" [formControl]="regForm.controls['country_code']" [disabled] = "isReadonly">
                  <option data-senderID="KSPSMS" value="91" Selected>India (+91)</option>
                  <optgroup label="Other countries">
                    <!-- <option data-senderID="DZ" value="213">Algeria (+213)</option> -->
                    <!-- <option data-senderID="AD" value="376">Andorra (+376)</option> -->
                    <!-- <option data-senderID="AO" value="244">Angola (+244)</option> -->
                    <!-- <option data-senderID="AI" value="1264">Anguilla (+1264)</option> -->
                    <!-- <option data-senderID="AG" value="1268">Antigua &amp; Barbuda (+1268)</option> -->
                    <!-- <option data-senderID="AR" value="54">Argentina (+54)</option> -->
                    <!-- <option data-senderID="AM" value="374">Armenia (+374)</option> -->
                    <!-- <option data-senderID="AW" value="297">Aruba (+297)</option> -->
                    <option data-senderID="KSPAUS" value="61">Australia (+61)</option>
                    <!-- <option data-senderID="AT" value="43">Austria (+43)</option> -->
                    <!-- <option data-senderID="AZ" value="994">Azerbaijan (+994)</option> -->
                    <!-- <option data-senderID="BS" value="1242">Bahamas (+1242)</option> -->
                    <!-- <option data-senderID="BH" value="973">Bahrain (+973)</option> -->
                    <option data-senderID="KSPBAN" value="880">Bangladesh (+880)</option>
                    <!-- <option data-senderID="BB" value="1246">Barbados (+1246)</option> -->
                    <!-- <option data-senderID="BY" value="375">Belarus (+375)</option> -->
                    <!-- <option data-senderID="BE" value="32">Belgium (+32)</option> -->
                    <!-- <option data-senderID="BZ" value="501">Belize (+501)</option> -->
                    <!-- <option data-senderID="BJ" value="229">Benin (+229)</option> -->
                    <!-- <option data-senderID="BM" value="1441">Bermuda (+1441)</option> -->
                    <!-- <option data-senderID="BT" value="975">Bhutan (+975)</option> -->
                    <!-- <option data-senderID="BO" value="591">Bolivia (+591)</option> -->
                    <!-- <option data-senderID="BA" value="387">Bosnia Herzegovina (+387)</option> -->
                    <!-- <option data-senderID="BW" value="267">Botswana (+267)</option> -->
                    <!-- <option data-senderID="BR" value="55">Brazil (+55)</option> -->
                    <!-- <option data-senderID="BN" value="673">Brunei (+673)</option> -->
                    <!-- <option data-senderID="BG" value="359">Bulgaria (+359)</option> -->
                    <!-- <option data-senderID="BF" value="226">Burkina Faso (+226)</option> -->
                    <!-- <option data-senderID="BI" value="257">Burundi (+257)</option> -->
                    <!-- <option data-senderID="KH" value="855">Cambodia (+855)</option> -->
                    <!-- <option data-senderID="CM" value="237">Cameroon (+237)</option> -->
                    <option data-senderID="KSPCAN" value="1">Canada (+1)</option>
                    <!-- <option data-senderID="CV" value="238">Cape Verde Islands (+238)</option> -->
                    <!-- <option data-senderID="KY" value="1345">Cayman Islands (+1345)</option> -->
                    <!-- <option data-senderID="CF" value="236">Central African Republic (+236)</option> -->
                    <!-- <option data-senderID="CL" value="56">Chile (+56)</option> -->
                    <option data-senderID="KSPCHI" value="86">China (+86)</option>
                    <!-- <option data-senderID="CO" value="57">Colombia (+57)</option> -->
                    <!-- <option data-senderID="KM" value="269">Comoros (+269)</option> -->
                    <!-- <option data-senderID="CG" value="242">Congo (+242)</option> -->
                    <!-- <option data-senderID="CK" value="682">Cook Islands (+682)</option> -->
                    <!-- <option data-senderID="CR" value="506">Costa Rica (+506)</option> -->
                    <!-- <option data-senderID="HR" value="385">Croatia (+385)</option> -->
                    <!-- <option data-senderID="CU" value="53">Cuba (+53)</option> -->
                    <!-- <option data-senderID="CY" value="90392">Cyprus North (+90392)</option> -->
                    <!-- <option data-senderID="CY" value="357">Cyprus South (+357)</option> -->
                    <!-- <option data-senderID="CZ" value="42">Czech Republic (+42)</option> -->
                    <!-- <option data-senderID="DK" value="45">Denmark (+45)</option> -->
                    <!-- <option data-senderID="DJ" value="253">Djibouti (+253)</option> -->
                    <!-- <option data-senderID="DM" value="1809">Dominica (+1809)</option> -->
                    <!-- <option data-senderID="DO" value="1809">Dominican Republic (+1809)</option> -->
                    <!-- <option data-senderID="EC" value="593">Ecuador (+593)</option> -->
                    <!-- <option data-senderID="EG" value="20">Egypt (+20)</option> -->
                    <!-- <option data-senderID="SV" value="503">El Salvador (+503)</option> -->
                    <!-- <option data-senderID="GQ" value="240">Equatorial Guinea (+240)</option> -->
                    <!-- <option data-senderID="ER" value="291">Eritrea (+291)</option> -->
                    <!-- <option data-senderID="EE" value="372">Estonia (+372)</option> -->
                    <!-- <option data-senderID="ET" value="251">Ethiopia (+251)</option> -->
                    <!-- <option data-senderID="FK" value="500">Falkland Islands (+500)</option> -->
                    <!-- <option data-senderID="FO" value="298">Faroe Islands (+298)</option> -->
                    <!-- <option data-senderID="FJ" value="679">Fiji (+679)</option> -->
                    <!-- <option data-senderID="FI" value="358">Finland (+358)</option> -->
                    <option data-senderID="KSPFRA" value="33">France (+33)</option>
                    <!-- <option data-senderID="GF" value="594">French Guiana (+594)</option> -->
                    <!-- <option data-senderID="PF" value="689">French Polynesia (+689)</option> -->
                    <!-- <option data-senderID="GA" value="241">Gabon (+241)</option> -->
                    <!-- <option data-senderID="GM" value="220">Gambia (+220)</option> -->
                    <!-- <option data-senderID="GE" value="7880">Georgia (+7880)</option> -->
                    <option data-senderID="KSPGER" value="49">Germany (+49)</option>
                    <!-- <option data-senderID="GH" value="233">Ghana (+233)</option> -->
                    <!-- <option data-senderID="GI" value="350">Gibraltar (+350)</option> -->
                    <!-- <option data-senderID="GR" value="30">Greece (+30)</option> -->
                    <!-- <option data-senderID="GL" value="299">Greenland (+299)</option> -->
                    <!-- <option data-senderID="GD" value="1473">Grenada (+1473)</option> -->
                    <!-- <option data-senderID="GP" value="590">Guadeloupe (+590)</option> -->
                    <!-- <option data-senderID="GU" value="671">Guam (+671)</option> -->
                    <!-- <option data-senderID="GT" value="502">Guatemala (+502)</option> -->
                    <!-- <option data-senderID="GN" value="224">Guinea (+224)</option> -->
                    <!-- <option data-senderID="GW" value="245">Guinea - Bissau (+245)</option> -->
                    <!-- <option data-senderID="GY" value="592">Guyana (+592)</option> -->
                    <!-- <option data-senderID="HT" value="509">Haiti (+509)</option> -->
                    <!-- <option data-senderID="HN" value="504">Honduras (+504)</option> -->
                    <!-- <option data-senderID="HK" value="852">Hong Kong (+852)</option> -->
                    <!-- <option data-senderID="HU" value="36">Hungary (+36)</option> -->
                    <!-- <option data-senderID="IS" value="354">Iceland (+354)</option> -->
                    <option data-senderID="KSPSMS" value="91">India (+91)</option>
                    <!-- <option data-senderID="ID" value="62">Indonesia (+62)</option> -->
                    <!-- <option data-senderID="IR" value="98">Iran (+98)</option> -->
                    <!-- <option data-senderID="IQ" value="964">Iraq (+964)</option> -->
                    <!-- <option data-senderID="IE" value="353">Ireland (+353)</option> -->
                    <!-- <option data-senderID="IL" value="972">Israel (+972)</option> -->
                    <option data-senderID="KSPITL" value="39">Italy (+39)</option>
                    <!-- <option data-senderID="JM" value="1876">Jamaica (+1876)</option> -->
                    <option data-senderID="KSPJAP" value="81">Japan (+81)</option>
                    <!-- <option data-senderID="JO" value="962">Jordan (+962)</option> -->
                    <!-- <option data-senderID="KZ" value="7">Kazakhstan (+7)</option> -->
                    <!-- <option data-senderID="KE" value="254">Kenya (+254)</option> -->
                    <!-- <option data-senderID="KI" value="686">Kiribati (+686)</option> -->
                    <!-- <option data-senderID="KP" value="850">Korea North (+850)</option> -->
                    <!-- <option data-senderID="KR" value="82">Korea South (+82)</option> -->
                    <!-- <option data-senderID="KW" value="965">Kuwait (+965)</option> -->
                    <!-- <option data-senderID="KG" value="996">Kyrgyzstan (+996)</option> -->
                    <!-- <option data-senderID="LA" value="856">Laos (+856)</option> -->
                    <!-- <option data-senderID="LV" value="371">Latvia (+371)</option> -->
                    <!-- <option data-senderID="LB" value="961">Lebanon (+961)</option> -->
                    <!-- <option data-senderID="LS" value="266">Lesotho (+266)</option> -->
                    <!-- <option data-senderID="LR" value="231">Liberia (+231)</option> -->
                    <!-- <option data-senderID="LY" value="218">Libya (+218)</option> -->
                    <!-- <option data-senderID="LI" value="417">Liechtenstein (+417)</option> -->
                    <!-- <option data-senderID="LT" value="370">Lithuania (+370)</option> -->
                    <!-- <option data-senderID="LU" value="352">Luxembourg (+352)</option> -->
                    <!-- <option data-senderID="MO" value="853">Macao (+853)</option> -->
                    <!-- <option data-senderID="MK" value="389">Macedonia (+389)</option> -->
                    <!-- <option data-senderID="MG" value="261">Madagascar (+261)</option> -->
                    <!-- <option data-senderID="MW" value="265">Malawi (+265)</option> -->
                    <option data-senderID="KSPMLY" value="60">Malaysia (+60)</option>
                    <!-- <option data-senderID="MV" value="960">Maldives (+960)</option> -->
                    <!-- <option data-senderID="ML" value="223">Mali (+223)</option> -->
                    <!-- <option data-senderID="MT" value="356">Malta (+356)</option> -->
                    <!-- <option data-senderID="MH" value="692">Marshall Islands (+692)</option> -->
                    <!-- <option data-senderID="MQ" value="596">Martinique (+596)</option> -->
                    <!-- <option data-senderID="MR" value="222">Mauritania (+222)</option> -->
                    <!-- <option data-senderID="YT" value="269">Mayotte (+269)</option> -->
                    <!-- <option data-senderID="MX" value="52">Mexico (+52)</option> -->
                    <!-- <option data-senderID="FM" value="691">Micronesia (+691)</option> -->
                    <!-- <option data-senderID="MD" value="373">Moldova (+373)</option> -->
                    <!-- <option data-senderID="MC" value="377">Monaco (+377)</option> -->
                    <!-- <option data-senderID="MN" value="976">Mongolia (+976)</option> -->
                    <!-- <option data-senderID="MS" value="1664">Montserrat (+1664)</option> -->
                    <!-- <option data-senderID="MA" value="212">Morocco (+212)</option> -->
                    <!-- <option data-senderID="MZ" value="258">Mozambique (+258)</option> -->
                    <!-- <option data-senderID="MN" value="95">Myanmar (+95)</option> -->
                    <!-- <option data-senderID="NA" value="264">Namibia (+264)</option> -->
                    <!-- <option data-senderID="NR" value="674">Nauru (+674)</option> -->
                    <option data-senderID="KSPNEP" value="977">Nepal (+977)</option>
                    <!-- <option data-senderID="NL" value="31">Netherlands (+31)</option> -->
                    <!-- <option data-senderID="NC" value="687">New Caledonia (+687)</option> -->
                    <!-- <option data-senderID="NZ" value="64">New Zealand (+64)</option> -->
                    <!-- <option data-senderID="NI" value="505">Nicaragua (+505)</option> -->
                    <!-- <option data-senderID="NE" value="227">Niger (+227)</option> -->
                    <!-- <option data-senderID="NG" value="234">Nigeria (+234)</option> -->
                    <!-- <option data-senderID="NU" value="683">Niue (+683)</option> -->
                    <!-- <option data-senderID="NF" value="672">Norfolk Islands (+672)</option> -->
                    <!-- <option data-senderID="NP" value="670">Northern Marianas (+670)</option> -->
                    <!-- <option data-senderID="NO" value="47">Norway (+47)</option> -->
                    <!-- <option data-senderID="OM" value="968">Oman (+968)</option> -->
                    <option data-senderID="KSPPAK" value="92">Pakistan (+92)</option>
                    <!-- <option data-senderID="PW" value="680">Palau (+680)</option> -->
                    <!-- <option data-senderID="PA" value="507">Panama (+507)</option> -->
                    <!-- <option data-senderID="PG" value="675">Papua New Guinea (+675)</option> -->
                    <!-- <option data-senderID="PY" value="595">Paraguay (+595)</option> -->
                    <option data-senderID="KSPPER" value="51">Peru (+51)</option>
                    <option data-senderID="KSPPHI" value="63">Philippines (+63)</option>
                    <!-- <option data-senderID="PL" value="48">Poland (+48)</option> -->
                    <!-- <option data-senderID="PT" value="351">Portugal (+351)</option> -->
                    <!-- <option data-senderID="PR" value="1787">Puerto Rico (+1787)</option> -->
                    <!-- <option data-senderID="QA" value="974">Qatar (+974)</option> -->
                    <!-- <option data-senderID="RE" value="262">Reunion (+262)</option> -->
                    <!-- <option data-senderID="RO" value="40">Romania (+40)</option> -->
                    <option data-senderID="KSPRUS" value="7">Russia (+7)</option>
                    <!-- <option data-senderID="RW" value="250">Rwanda (+250)</option> -->
                    <!-- <option data-senderID="SM" value="378">San Marino (+378)</option> -->
                    <!-- <option data-senderID="ST" value="239">Sao Tome &amp; Principe (+239)</option> -->
                    <!-- <option data-senderID="SA" value="966">Saudi Arabia (+966)</option> -->
                    <!-- <option data-senderID="SN" value="221">Senegal (+221)</option> -->
                    <!-- <option data-senderID="CS" value="381">Serbia (+381)</option> -->
                    <!-- <option data-senderID="SC" value="248">Seychelles (+248)</option> -->
                    <!-- <option data-senderID="SL" value="232">Sierra Leone (+232)</option> -->
                    <option data-senderID="KSPSIN" value="65">Singapore (+65)</option>
                    <!-- <option data-senderID="SK" value="421">Slovak Republic (+421)</option> -->
                    <!-- <option data-senderID="SI" value="386">Slovenia (+386)</option> -->
                    <!-- <option data-senderID="SB" value="677">Solomon Islands (+677)</option> -->
                    <!-- <option data-senderID="SO" value="252">Somalia (+252)</option> -->
                    <!-- <option data-senderID="ZA" value="27">South Africa (+27)</option> -->
                    <option data-senderID="KSPESP" value="34">Spain (+34)</option>
                    <option data-senderID="KSPSRI" value="94">Sri Lanka (+94)</option>
                    <!-- <option data-senderID="SH" value="290">St. Helena (+290)</option> -->
                    <!-- <option data-senderID="KN" value="1869">St. Kitts (+1869)</option> -->
                    <!-- <option data-senderID="SC" value="1758">St. Lucia (+1758)</option> -->
                    <!-- <option data-senderID="SD" value="249">Sudan (+249)</option> -->
                    <!-- <option data-senderID="SR" value="597">Suriname (+597)</option> -->
                    <!-- <option data-senderID="SZ" value="268">Swaziland (+268)</option> -->
                    <!-- <option data-senderID="SE" value="46">Sweden (+46)</option> -->
                    <!-- <option data-senderID="CH" value="41">Switzerland (+41)</option> -->
                    <!-- <option data-senderID="SI" value="963">Syria (+963)</option> -->
                    <!-- <option data-senderID="TW" value="886">Taiwan (+886)</option> -->
                    <!-- <option data-senderID="TJ" value="7">Tajikstan (+7)</option> -->
                    <!-- <option data-senderID="TH" value="66">Thailand (+66)</option> -->
                    <!-- <option data-senderID="TG" value="228">Togo (+228)</option> -->
                    <!-- <option data-senderID="TO" value="676">Tonga (+676)</option> -->
                    <!-- <option data-senderID="TT" value="1868">Trinidad &amp; Tobago (+1868)</option> -->
                    <!-- <option data-senderID="TN" value="216">Tunisia (+216)</option> -->
                    <!-- <option data-senderID="TR" value="90">Turkey (+90)</option> -->
                    <!-- <option data-senderID="TM" value="7">Turkmenistan (+7)</option> -->
                    <!-- <option data-senderID="TM" value="993">Turkmenistan (+993)</option> -->
                    <!-- <option data-senderID="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option> -->
                    <!-- <option data-senderID="TV" value="688">Tuvalu (+688)</option> -->
                    <!-- <option data-senderID="UG" value="256">Uganda (+256)</option> -->
                    <option data-senderID="KSPUKB" value="44">UK (+44)</option>
                    <!-- <option data-senderID="UA" value="380">Ukraine (+380)</option> -->
                    <option data-senderID="KSPUAE" value="971">United Arab Emirates (+971)</option>
                    <!-- <option data-senderID="UY" value="598">Uruguay (+598)</option> -->
                    <option data-senderID="KSPUSA" value="1">USA (+1)</option>
                    <!-- <option data-senderID="UZ" value="7">Uzbekistan (+7)</option> -->
                    <!-- <option data-senderID="VU" value="678">Vanuatu (+678)</option> -->
                    <!-- <option data-senderID="VA" value="379">Vatican City (+379)</option> -->
                    <!-- <option data-senderID="VE" value="58">Venezuela (+58)</option> -->
                    <!-- <option data-senderID="VN" value="84">Vietnam (+84)</option> -->
                    <!-- <option data-senderID="VG" value="84">Virgin Islands - British (+1284)</option> -->
                    <!-- <option data-senderID="VI" value="84">Virgin Islands - US (+1340)</option> -->
                    <!-- <option data-senderID="WF" value="681">Wallis &amp; Futuna (+681)</option> -->
                    <!-- <option data-senderID="YE" value="969">Yemen (North)(+969)</option> -->
                    <!-- <option data-senderID="YE" value="967">Yemen (South)(+967)</option> -->
                    <!-- <option data-senderID="ZM" value="260">Zambia (+260)</option> -->
                    <!-- <option data-senderID="ZW" value="263">Zimbabwe (+263)</option> -->
                  </optgroup>
                </select>
              </div>
              <input class="mobNo" type="text" placeholder="Type here" [formControl]="regForm.controls['phone']" [readonly] = "isReadonly">
              <span style="float: right;font-size: 14px; color: blue; cursor: pointer;" (click)="sendOTP()" *ngIf="!isReadonly">{{sendOtpBtn}}</span>
             
              <div *ngIf="(regForm.controls['phone'].hasError('required') && regForm.controls['phone'].dirty) || (regForm.controls['phone'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter Mobile no.</div>
              
              <div *ngIf="!regForm.controls['phone'].hasError('required') && ((regForm.controls['phone'].hasError('pattern') && regForm.controls['phone'].dirty) || (regForm.controls['phone'].hasError('pattern') && formReg.submitted))" class="error-survey-form">Invalid Mobile no.</div>
              
              <div *ngIf="!regForm.controls['phone'].hasError('required') && ((regForm.controls['phone'].hasError('phoneExist') && regForm.controls['phone'].dirty) || (regForm.controls['phone'].hasError('phoneExist') && formReg.submitted))" class="error-survey-form">Mobile no already exist.</div>

              <div *ngIf="otpStatus && !isReadonly">
                  <h5>OTP</h5>
                  <input type="text" class="otp-input" placeholder="Enter OTP" [formControl]="regForm.controls['otp']">
                  <span (click)="!verifyBtnStatus && verifyOTP()" class="verify-btn" style="cursor: pointer;">{{verifyBtn}}</span>
                  <div *ngIf="showOtpError" class="error-survey-form" style="float: left">Please enter valid OTP</div>      
              </div>
              <h5>City</h5>
              <div class="business-dropdow">
                <select name="city" id="city" class="paddingNo font-size11" [formControl]="regForm.controls['city']">
                  <option  selected value="">Select Your City</option>
                  <option  selected *ngFor="let c of city" value="{{c.city}}">{{c.city}}</option>
                </select>
                <div *ngIf="(regForm.controls['city'].hasError('required') && regForm.controls['city'].dirty) || (regForm.controls['city'].hasError('required') && formReg.submitted)" class="error-survey-form">Please select your city</div>
              </div>
              <h5>Address</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['address']">
              <div *ngIf="(regForm.controls['address'].hasError('required') && regForm.controls['address'].dirty) || (regForm.controls['address'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter the address of your business</div>

              <h5>Website</h5>
              <input type="text" placeholder="Type here" [formControl]="regForm.controls['website']">
              <div *ngIf="(regForm.controls['website'].hasError('required') && regForm.controls['website'].dirty) || (regForm.controls['website'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter the website of your business</div>

              <h5>Industry</h5>
              <div class="business-dropdow" [style.width]="regForm.controls.industry_type.value == 'Others' ? '30%':'100%'" class="pull-left">
                <select  [formControl]="regForm.controls['industry_type']">
                  <option value=""> Select industry </option>
                  <option> Advertising/ PR/ MR/ Events </option>
                  <option> Education/ Teaching/ Trainning </option>
                  <option> FMCG/ Food/ Beverage </option>
                  <option> Hotels/ Restaurant/ Airlines/ Travel </option>
                  <option> Medical/ Healthcare/ Hospital </option>
                  <option> Publishing </option>
                  <option> Real Estate/ Property </option>
                  <option> Wellness/ Fitness/ Sports/ Beauty </option>
                  <option> Others </option>
                </select>
              </div>
              <input [style.display]="regForm.controls.industry_type.value == 'Others' ? '':'none'" class="mobNo" type="text" placeholder="Type here" [formControl]="regForm.controls['other_industry_type']" autofocus>
              <div *ngIf="(regForm.controls['industry_type'].hasError('required') && regForm.controls['industry_type'].dirty) || (regForm.controls['industry_type'].hasError('required') && formReg.submitted)" class="error-survey-form">Please select one industry</div>

              <h5>Password</h5>
              <input type="password" placeholder="Password" [formControl]="regForm.controls['password']">
              <div *ngIf="(regForm.controls['password'].hasError('required') && regForm.controls['password'].dirty) || (regForm.controls['password'].hasError('required') && formReg.submitted)" class="error-survey-form">Please enter password</div>

              <h5>Confirm Password</h5>
              <input type="password" placeholder="Confirm Password" [formControl]="regForm.controls['confirm_password']">

              <div *ngIf="(regForm.controls['confirm_password'].hasError('required') && regForm.controls['confirm_password'].dirty) || (regForm.controls['confirm_password'].hasError('required') && formReg.submitted)" class="error-survey-form">Please confirm password</div>

              <div *ngIf="!regForm.controls['confirm_password'].hasError('required') && (regForm.controls['confirm_password'].hasError('passwordmisMatch') && regForm.controls['confirm_password'].dirty)" class="error-survey-form">Confirm password and password does not match</div>

              <input type="text" id="address_latlng" style="visibility:hidden;"/>

              <div *ngIf="this.showVerificationError" class="error-survey-form">
                  Please verify your phone number.
              </div>
              <div class="submit-style">
                <input type="submit" value="Create Account">
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
<hr/>
