  <app-topnavnofilter></app-topnavnofilter>
  <!--main content start-->
  <section id="main-content">
    <section class="wrappe kspCode">
      <div class="row">
        <div style="background-color: #ebebeb;height: 40px;z-index: 9;position: fixed;top: 90px; left:0px; width: 100%;">
          <div class="container paddingNo">
            <div class="col-md-2 col-lg-2 paddingNo line-height40 font-size14 font-Raleway-SemiBold">&nbsp;</div>
            <div class="col-md-7 col-lg-7 paddingNo line-height40 font-size12 all-caps">Get 15% off on the best brands for kids and enjoy exclusive access to curated events.</div>
            <div class="col-lg-3 col-md-3 paddingNo line-height40 text-center font-size14 font-Raleway-SemiBold cursor_pointer" (click)="scrollToCard()" style="background-color: #e35b7f; color: #fff">Pick Your KSP Code Card</div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 40px; padding-bottom: 10px;">
        <ngx-carousel
         [inputs]="carouselOne"
         (carouselLoad)="myfunc($event)">
           <ngx-item NgxCarouselItem *ngFor="let banner of bannerImages; let i=index">
              <div class="box" *ngIf="!banner.link">
                <img class="" [src]="banner.path" style="width:100%; height: calc(100vw  / 4);  margin-top:90px;" alt="">
              </div>

              <div class="box" *ngIf="banner.link">
                <div (click)="scrollToCard()"><img class="" [src]="banner.path" style="width:100%; height: calc(100vw  / 4);  margin-top:90px;" alt=""></div>
              </div>
              <div class="clearfix"></div>
           </ngx-item>
           <button NgxCarouselPrev class='leftRs hide'>&lt;</button>
           <button NgxCarouselNext class='rightRs hide'>&gt;</button>
        </ngx-carousel>
      </div>

      <!-- Section 1 -->
      <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="vd-ksp-code">
            <h2 class="font-Raleway-SemiBold">KSP CODE CARD</h2>
            <ul>
              <p class="margin-top font-size25">
                Get 15% off on the best brands for kids & parents and exclusive access to curated events.
              </p>
                <div class="code-box cursor_pointer" (click)="scrollToCard()" style="width:50%;">
                  <p><b>Pick Your KSP Code Card</b></p>
                </div>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <iframe width="420" height="245" src="https://kspbucket.s3.ap-south-1.amazonaws.com/KSP+Code+Promo+Video.mp4" frameBorder="0"> </iframe>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <!-- Section 2 -->
      <div class="row margin-top margin-bottom15" *ngIf="kspEvents">
        <div class="container">
          <div class="main-title-outer pull-left">
            <div class="main-title " style="display: flex">
              <i class="fa" aria-hidden="true"><img src="assets/images/go.png" width="30" height="30" alt=""/></i>
              <span style="display: flex; flex-direction: column;">
                <span>KSP CODE EVENTS</span>
                <small style="letter-spacing: 1px; text-transform: none;">Get invites to the best events for families</small>
              </span>
            </div>
          </div>
          <div id="carousel-event" class="carousel slide height-400 paddingNo" data-ride="carousel" data-interval="false">
            <div class="col-md-12 col-lg-12 arrow-left-right">
              <a class="pull-left left fa fa-chevron-left btn" href="#carousel-event" data-slide="prev" *ngIf="kspEvents.length>3"></a>
              <a class="pull-right right fa fa-chevron-right btn" href="#carousel-event" data-slide="next" *ngIf="kspEvents.length>3"></a>
            </div>
            <div class="carousel-inner">
              <div class="item" *ngFor="let loop of kspEventCarousel" [ngClass]="{'active':loop==0}">
                <div class="">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 paddingNo height-494" *ngFor="let event of kspEvents.slice((3 * loop ),(3 * loop + 3))">
                    <div class="col-item2 box-shadow">
                      <div class="photo">
                        <div id="crop-feature-image">
                          <a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}" onclick="window.scrollTo(0,0)">
                            <img src="{{event.path.substring( 0, event.path.lastIndexOf('/')) + '/w_400' + event.path.substring( event.path.lastIndexOf('/'), event.path.length)}}" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="info-2">
                        <div class="images-product-old">
                          <div class="product-old">
                            <div class="blog-content">
                              <span class="ion-android-data mumbai-blue-button all-caps">{{event.venue_city=='' ? 'All Cities' : event.venue_city}}</span>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo text-right pull-right">
                                <ul class="list-unstyled text-left pull-right width-100per">
                                  <app-likecomment [loveData]="event.liked" [permaLink]="event.perma_link" [entityType]="'event'" [entityId]="event.id" [loveCount]="event.likes" [commentCount]="event.comment_count"></app-likecomment>
                                </ul>
                              </div>
                              <h4 class="ellipsis-event-title"><a routerLink="/event-individual/{{event.perma_link}}/{{event.id}}" onclick="window.scrollTo(0,0);" class="a1">{{event.title}}</a></h4>
                              
                              <small class="date-color" *ngIf="(event.start_date | date:'EEEE')==(event.end_date | date:'EEEE')">{{event.start_date | date:'EEEE'}}, {{event.start_date | date:'yMMMd'}}</small>

                              <small class="date-color" *ngIf="(event.start_date | date:'EEEE')!=(event.end_date | date:'EEEE')">{{event.start_date | date:'EEEE'}}, {{event.start_date | date:'yMMMd'}} - {{event.end_date | date:'EEEE'}}, {{event.end_date | date:'yMMMd'}}</small>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <!-- Section 3 -->
      <div class="row margin-top margin-bottom15" *ngIf="partners">
        <div class="container">
          <div class="main-title-outer pull-left">
            <div class="main-title" style="display: flex">
              <i class="fa" aria-hidden="true"><img src="assets/images/cup-cion.png" width="30" height="30" alt=""/></i>
              <span style="display: flex; flex-direction: column;">
                <span>KSP CODE PARTNERS</span>
                <small style="letter-spacing: 1px; text-transform: none;">Get immediate savings on your bills with a flat 15% off</small>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="text-center">
                  <span *ngFor="let cat of categoryList; let i=index">
                    <span class="btn all-caps text-bold master-cat-btn" (click)="tab_selected = cat.slug" [ngClass] = "{'master-cat-selected':(tab_selected == cat.slug), 'margin-right44p':(i!=categoryList.length-1)}">
                      {{cat.name}}
                    </span>
                  </span>
                </div>
              </div>
              <div class="carousel media-carousel" id="media">
                <div>
                  <div class="item">
                    <div class="row" style="max-height: 520px; overflow-y: auto" id="style-1">
                      <div *ngFor="let partner of partners; let i=index">
                        <div class="col-md-4" *ngIf="partner.category == tab_selected">
                          <a class="thumbnail center-block font-size13 paddingNo" href="javascript:void(0);" data-toggle="modal" data-target="#terms" (click)="setCurrentPartnerSelected = i" >
                            <p class="sld-img text-center"><img src="{{partner.img_path}}" style="width:185px!important; height:92px!important; object-fit: cover; object-position: center;" alt=""/></p>
                            <p class="text-center" style="height:60px;"><b>{{partner.title}} </b></p>
                            <div class="code-box">
                              <p><b>{{partner.offer}}</b></p>
                            </div>
                          </a>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="terms" class="modal fade" role="dialog" *ngIf="partners">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header tnc-header">
                      <button type="button" class="close" data-dismiss="modal" style="">×</button>
                      <div class="row">
                        <div class="col-xs-3">
                          <div class="popup-partner-logo"><img src="{{partners[setCurrentPartnerSelected]?.img_path}}" style="width:100%!important; height:auto!important; object-fit: cover; object-position: center;" alt=""/></div>
                        </div>
                        <div class="col-xs-9">
                          <h4 class="modal-title all-caps font-Raleway-SemiBold" [innerHtml]="partners[setCurrentPartnerSelected]?.title"></h4>
                          <div class="partner-discount margin-top" [innerHtml]="partners[setCurrentPartnerSelected]?.offer"></div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <h4 *ngIf="partners[setCurrentPartnerSelected]?.content != null && partners[setCurrentPartnerSelected]?.content != ''">Terms &amp; conditions of offer:</h4>
                      <p [innerHtml]="partners[setCurrentPartnerSelected]?.content"></p>
                      <h4 class="margin-top" *ngIf="partners[setCurrentPartnerSelected]?.steps != null && partners[setCurrentPartnerSelected]?.steps != ''">Steps to avail the offer:</h4>
                      <div class="partner-discount margin-top" [innerHtml]="partners[setCurrentPartnerSelected]?.steps"></div>
                    </div>
                    <div class="modal-footer tnc-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  	  </div>
      <div class="clearfix"></div>
      
      <!-- Section 4 -->
      <div class="row margin-top blue-ksp-code" id="codeCard">
        <div class="container-fluid">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center color-white">SIGN UP NOW</h1><br/>
            <h3 class="text-center color-white" >KSP CODE CARD</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="display: flex; align-items: stretch;justify-content: center;padding:0 5%">
            <div class="col-sm-12 col-md-3" style="width: 30%">
              <div class="purple-ksp-code sky-blue-ksp-code">
                <h2 class="text-center">3 MONTHS PLAN</h2>
                <ul>
                  <li>
                    <a routerLink="/3-MONTHS-PLAN/1/1000" (click)="payLink('3-MONTHS-PLAN')">
                      <button>&#x20B9; 1000/-</button>
                    </a>
                    <small>
                      Get 15% discount on all partner brands<br>
                      Attend 1 event
                    </small>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-3" style="width: 30%">
            	<div class="purple-ksp-code">
            		<h2 class="text-center">6 MONTHS PLAN</h2>
            		<ul>
            			<li>
                    <a routerLink="/6-MONTHS-PLAN/2/1800" (click)="payLink('6-MONTHS-PLAN')">
                      <button>&#x20B9; 1800/-</button>
                    </a>
                    <small>
                      Get 15% discount on all partner brands<br>
                      Attend 2 events
                    </small>
                  </li>
            		</ul>
            	</div>
            </div>
            <div class="col-sm-12 col-md-3" style="width: 30%">
            	<div class="redpink-ksp-code">
            		<h2 class="text-center">12 MONTHS PLAN</h2>
            		<ul>
            			<li>
                    <a routerLink="/12-MONTHS-PLAN/3/3000" (click)="payLink('12-MONTHS-PLAN')">
                      <button>&#x20B9; 3000/-</button>
                    </a>
                    <small>
                      Get 15% discount on all partner brands<br>
                      Attend Unlimited events
                    </small>
                  </li>
            		</ul>
            	</div>
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-12 col-lg-12" style="position: relative;">
              <h3 class="text-center color-white">ACTIVITY BOXES FOR KIDS</h3><br/>
          </div>
          <div class="col-md-12" style="display: flex;justify-content: center;padding:0 5%">
            <div class="col-sm-12 col-md-3" style="width: 30%;min-width:30%;display: flex;">
              <div class="purple-ksp-code redpink-ksp-code" style="position: relative;width: 100%">
                <h2 class="text-center">FUN BUSY BOX FOR KIDS</h2>
                <ul>
                  <li>
                    <a routerLink="/ksp-code-activity" target="_blank">
                      <button>&#x20B9; 999/- </button>
                    </a>
                    <small class="activity-pack">
                      <b>Kit contains : </b><br/>
                        Earth Lab (MRP Rs 1500)<br/>
                        Chauka Bara (MRP 499)<br/>
                        Fixi Bricks (MRP Rs 199)<br/>                   
                    </small>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12 col-md-3" style="width: 30%;min-width:30%;display: flex;">
              <div class="purple-ksp-code darkblue-ksp-code" style="position: relative;width: 100%">
                <h2 class="text-center">FESTIVE FUN BOX FOR KIDS</h2>
                <ul>
                  <li>
                    <a routerLink="/ksp-code-activity" target="_blank">
                      <button>&#x20B9; 999/- </button>
                    </a>
                    <small class="activity-pack">
                      <b>Kit contains : </b><br/>
                        Slime activator (MRP Rs 299)<br/>
                        Geoboard (MRP 800)<br/>
                        Memory & Movement board game (MRP Rs 649)<br/>                   
                    </small>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12 col-md-3" style="width: 30%;display: flex;">
              <div class="purple-ksp-code orange-ksp-code" style="position: relative;width: 100%">
                <h2 class="text-center">SKILL BUILDER BOX FOR KIDS</h2>
                <ul>
                  <li>
                    <a routerLink="/ksp-code-activity" target="_blank">
                      <button>&#x20B9; 1200/- </button>
                    </a>
                    <small class="activity-pack">
                      <b>Kit contains : </b><br/>
                        7 Colour Science Experiments (MRP Rs 599)<br/>
                        Magnetic Shapes Set (MRP 429)<br/>
                        Logical thinking based board game (MRP Rs 445)<br/>                   
                    </small>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12 col-md-3" style="width: 30%;display: flex;">
              <div class="purple-ksp-code orange-ksp-code" style="position: relative;width: 100%">
                <h2 class="text-center">PLAY TO LEARN BOX FOR KIDS</h2>
                <ul>
                  <li>
                    <a routerLink="/ksp-code-activity" target="_blank">
                      <button>&#x20B9; 999/- </button>
                    </a>
                    <small class="activity-pack">
                      <b>Kit contains : </b><br/>
                        World Map (MRP Rs.499)<br/>
                        Alphabet Card Game ( MRP Rs.500)<br/>
                        DIY Slime Kit (MRP Rs.350)<br/>                   
                    </small>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->

          <div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
           <h1 class="text-center color-white">For any queries call us at: 7045900890</h1>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row margin-top margin-bottom15">
        <div class="container">
          <!-- Section 6 -->
          <div class="row" *ngIf="codeArticles.length">
            <div class="main-title-outer pull-left">
              <div class="main-title" style="display: flex"> 
                <i class="fa" aria-hidden="true"><img src="assets/images/go.png" width="30" height="30" alt=""/></i>
                <span style="display: flex; flex-direction: column;">
                  <span>KSP CODE ARTICLES</span>
                  <small style="letter-spacing: 1px; text-transform: none;">Get invites to the best events for families</small>
                </span>
              </div>
            </div>
            <app-generic-carousel [carauselId]="ksp-code-article" [articleList]="codeArticles" ></app-generic-carousel>
          </div>
          <!-- section 7 & 8 -->
          <div class="row margin-top">
       	    <div class="container border-kspcode paddingNo">
              <div class="col-sm-2 paddingNo">
               <nav class="nav-sidebar">
                   <ul class="nav tabs bttm-tab">
                     <li class="active"><a href="#benefits" data-toggle="tab">BENEFITS</a></li>
                     <li><a href="#faqs" data-toggle="tab">FAQS</a></li>
                     <li><a href="#tnc" data-toggle="tab">TERMS & CONDITIONS</a></li>
                   </ul>
               </nav>
              </div>
              <div class="col-sm-10 ksp-code-whitebg">
                <div class="tab-content">
                      <div class="tab-pane fade in active text-style" id="benefits">
                       <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                       	 <h2>WHY YOU NEED THE KSP CODE CARD?</h2>
                             <p class="margin-top">
                               1. The card gets you exclusively curated offers on all the brands you use for your children.
                             </p>
                             <p>
                               2. It is instant gratification with this one! Get immediate savings on your bills, even before you pay, at every partnering shop, restaurant, and play zone your child likes to go to!
                             </p>
                             <p>
                               3. It isn’t just once or twice, but you can use the card, at the same places, and enjoy your KSP discounts all year round!
                             </p>
                             <p>
                               4. We love to work on holidays too! Get your discounts with KSP Code on weekends and public holidays too!
                             </p>
                             <p>
                               5. Get one free complimentary card with every subscription, one for each parent.
                             </p>
                             <p>
                               6. Your friends will love you more for gifting them the KSP Code Card.
                             </p>
                             <p>
                               7. KSP Code is the best way for any parent to get more for kids without feeling the pinch.
                             </p>
                       </div>
                      </div>
                      <div class="tab-pane fade in text-style" id="faqs">
                        <h2>FAQS</h2>
                        <!--collapse panel-->
                        <div class="margin-top">
                          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 partener-content1 partener-content-faq1">
                            <div class="panel-group" id="accordion">
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><small>What offers or privileges do I get with my KSP Code card?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse1" class="panel-collapse collapse">
                                  <div class="faq-body">This card opens the discount till at all our partner restaurants, cakes shops, play areas, children’s stores, online baby stores, and any other service that parents like you and me visit frequently. For a complete list of all our partners click here.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><small>How many times can I avail these offers at KSP partner outlets?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <div class="faq-body">Even if your child likes to eat the same dish at a restaurant five times a week, or play at the same play zone every weekend, you can get the discount as many times as you like as a KSP Card subscriber.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><small>What if a partner brand backs out during the year?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="faq-body">We hate it when this happens and cross all our fingers and toes hoping it won’t. But in case bad luck strikes, we will try our best to replace the partner at the earliest and most importantly we keep you posted. We will not issue refunds in this case.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><small>How can I stay updated about the KSP Code Programme?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse4" class="panel-collapse collapse">
                                  <div class="faq-body">We love mail and we know you do too, but we promise not to spam you! We will stay in touch with you via emails, SMS and through regular updates on our website.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><small>How much does the KSP Code card cost?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse5" class="panel-collapse collapse">
                                  <div class="faq-body">The KSP Code Card costs Rs.1800 inclusive of taxes for a 6 month membership and Rs.3,000 inclusive of taxes for one year from the date of purchase. At just Rs.250 a month for a yearly plan, that’s a steal! For every membership, we will send 2 cards, one for each parent.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><small>How do I get the KSP Code card?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse6" class="panel-collapse collapse">
                                  <div class="faq-body">1. Click ‘Get the KSP Code’ on our website
                                          2. Fill out the subscription form online.
                                          3. Once you submit the form, you can select your mode of online payment (bank transfer or cheque). We also have a cash pick-up option for Mumbai customers, but at an additional charge of Rs.150. Our logistic partner will call you for a convenient time to complete the transaction.
                                          4. You will also receive an email confirming your purchase and your card will be delivered to you within 21 days of receipt of your payment.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><small>Can I gift the KSP Code Card to a friend?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse7" class="panel-collapse collapse">
                                  <div class="faq-body">A KSP Code Card could be the perfect birthday gift for a friend. Just fill in the form and we will send it right over! Make sure to provide the correct name and address of your friend/family member to whom you are gifting the card.</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--right-pane-->
                          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 partener-content1 partener-content-faq2">
                            <div class="panel-group" id="accordion1">
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse8"><small>I lost my card, how can I get a new one?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse8" class="panel-collapse collapse">
                                  <div class="faq-body">A new card will be issued at a charge of Rs.200. Please write to us kspcode@kidsstoppress.com to get a replacement.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse9"><small>I am not from Mumbai, can I apply for the KSP CODE Card?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse9" class="panel-collapse collapse">
                                  <div class="faq-body">The KSP Code Card programme is currently available in MUMBAI only.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse10"><small>How do I renew my membership with KSP Code?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse10" class="panel-collapse collapse">
                                  <div class="faq-body">We will send you a reminder to renew your card at least 2 months before your card expires via SMS, and a renewal form will be emailed to you, or you can visit our webpage to renew your card.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11"><small>How do I avail the offers using the KSP Code card?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse11" class="panel-collapse collapse">
                                  <div class="faq-body">When using the KSP Code card in-stores:

                                  Present your valid KSP Code card with a valid photo ID prior to asking for the bill. The partner outlet will give you the bill after discount. Acceptable photo IDs include driver’s license, company ID, Aadhar card, PAN Card. All partner stores reserve the right to withhold the offer if you do not have your KSP Code card or a valid ID proof.
                                  Only one KSP Card can be used per family (2 adults and 2 children).

                                  When using the KSP Code Card at online stores:

                                  Use your KSP Code membership number as your promo code to avail the discounts when shopping with our online partner stores.</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse12"><small>Are there any rewards points I can collect on my KSP Code Card card?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse12" class="panel-collapse collapse">
                                  <div class="faq-body">The CODE guarantees so many wonderful thing, we feel they are equal to reward points. Now isn’t that fantastic?</div>
                                </div>
                              </div>
                              <div class="panel">
                                <button class="faq-panel outlineNone">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse13"><small>What if the partner store does not provide the discount?</small><i class="fa fa-chevron-down pull-right"></i></a>
                                </button>
                                <div id="collapse13" class="panel-collapse collapse">
                                  <div class="faq-body">In case of any problems in availing the discount, you can call us on +917045900890 All our partner stores reserve the right to withhold discounts if a card-holder does not have a valid photo ID along with the KSP Code card.</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--right-pane ends-->
                        </div>
                        <!--collapse panel-->
                        <hr>
                      </div>
                      <div class="tab-pane fade in text-style" id="tnc">
                        <h2>TERMS AND CONDITIONS</h2>
                         <p class="margin-top">
                           1. Make sure to always carry a valid photo ID proof and KSP Code Card to redeem discounts.
                         </p>
                         <p>
                           2. We know you love the card and want to give it to every member of your household but only one KSP card can be used per family (2 adults and 2 children).
                         </p>
                         <p>
                           3. Again make sure to carry a valid photo ID proof and KSP Code Card otherwise our partner stores could withhold the offers to you!
                         </p>
                         <p>
                           Read the complete terms and conditions <a class="color-pink" href="javascript:void(0);" data-toggle="modal" data-target="#termsandconditions">click here</a>
                         </p>
                         <div id="termsandconditions" class="modal fade" role="dialog">
                           <div class="modal-dialog">
                             <div class="modal-content">
                               <div class="modal-header tnc-header">
                                 <button type="button" class="close" data-dismiss="modal" style="">×</button>
                                 <div class="row">
                                   <div class="col-xs-12">
                                     <h4 class="modal-title all-caps font-Raleway-SemiBold font-size21 text-center">TERMS AND CONDITIONS</h4>
                                   </div>
                                 </div>
                               </div>
                               <div class="modal-body">
                                 <p>
                                   The Terms and Conditions as listed form the basis of participation in KSP Code Card Programme; they are intended to protect your rights as a Member of KSP Code Card Programme. These provisions will govern your participation in this programme, and you are requested to read these carefully and understand all of them.
                                   By using the Card, the member unconditionally accepts and agrees to comply with and abide by these Terms and Conditions as stated herein or as may be modified at any time by Kidsstoppress Media Pvt Ltd without any prior notice to the member. The decisions of Kidsstoppress for all matters relating to this Terms and Conditions shall be final and binding in all respects and that no correspondence will be entertained regarding the same.
                                   By accepting these Terms and Conditions, the member hereby represents and warrants that the Customer has read, understood, accepted and agrees to abide with all the terms and conditions contained herein.
                                 </p>
                                 <ol>
                                  <li>The KSP Code card programme is owned and operated by Kidsstoppress Media Pvt Ltd.</li>
                                  <li>Membership is open to all individuals who are aged 18 (eighteen) years or more by filling up a KSP Code Card Application Form available on www.kspcode.com and paying a membership fee (currently Rs.1800 for 6 months or Rs.3000/- for 12 months) or as per the offer by Kidsstoppress Media Pvt.Ltd .</li>
                                  <li>The membership fee for KSP Code Card is non refundable.</li>
                                  <li>KSP Code Card will be delivered to the subscriber within 21 working days of receipt of a completed application form and realised subscription amount.</li>
                                  <li>KSP Code Card will be delivered to the subscriber within 21 working days of receipt of a completed application form and realised subscription amount.</li>
                                  <li>Member is required to present the Photo ID in order to redeem the KSP Code Card discount. Acceptable photo IDs include driver’s license, company ID, Aadhar card, PAN Card. All partnering outlets reserve the right to withhold the offer if you do not have your KSP Code card along with a valid ID.</li>
                                  <li>Only one KSP card can be used per family (2 adults and 2 children). A card owned by both parents will be treated as the same card.</li>
                                  <li>The discount offer at partnering restaurants/cake shops extends to a maximum of four people (so if you're a group of 10 people, you would get 15% off on 40% of the bill).</li>
                                  <li>The KSP Code Card programme does not entitle its members to priority reservation, free entry or free tickets, meals or services at any of our partner outlets. All existing policies of partner outlets continue to apply to KSP Card holders.</li>
                                  <li>The KSP Card offers may not be clubbed with any other promotional offers; these include but are not restricted to on-going promotions by the partnering outlets and discounts with other merchants/parties, unless specified otherwise.</li>
                                  <li>The offers cannot be clubbed with large orders, birthday parties or home deliveries.</li>
                                  <li>The card is non-transferable and intended for personal use only. Any liability arising due to card loss, misuse, or out of sharing of KSP Code membership card consciously or otherwise, would render the Member liable for all losses.</li>
                                  <li>The member acknowledges that Kidsstoppress is merely a facilitator for discount and shall not be responsible for any quality or hospitality/service issues with the Partner Outlet. The Customer shall directly lodge the complaint with the respective Partner Outlet towards the same.</li>
                                  <li>Each partner offer shall have a separate Terms and Conditions and hence the Customer should ensure to read it carefully before availing the Offer. The terms and conditions of the respective Offer shall be available on the website www.kspcode.com under the partners section.</li>
                                  <li>The Member should take adequate precautions to protect the card and prevent damage.</li>
                                  <li>Should a card be lost, a fresh application can be made for a replacement card on payment of Rs.200. The latest charges would be available on request and can be viewed on the website of the programme.</li>
                                  <li>The Member permits Kidsstoppress Media Pvt Ltd to use the ‘Data’ for communication, marketing activities and for enabling offer redemptions with partnering brands.</li>
                                  <li>Kidsstoppress Media Pvt Ltd reserves the right to discontinue KSP Code membership to any Member who appears to be using the programme in a manner inconsistent with the terms and conditions or intent of the programme or any portion of the programme, including, but not limited to, offer redemption. Kidsstoppress also reserves the right to discontinue membership for any Member who acts in a manner inconsistent with local or state laws, statutes or ordinances.</li>
                                  <li>All interpretations of programme rules shall be at the sole discretion of Kidsstoppress Media Pvt. Ltd.</li>
                                  <li>The programme and any benefit, offering or the like relating to the programme, shall not be construed as to constitute a contract or otherwise establish a contractual relationship between Kidsstoppress and any subscriber.</li>
                                  <li>Nothing in the KSP Code Card Programme rules is intended or shall be construed to create or establish any agency, partnership or joint venture relationship between Kidsstoppress and the subscriber and partners.</li>
                                  <li>The KSP Code Card Programme has no predetermined termination date and may continue until such time as Kidsstoppress media Pvt. Ltd decides to terminate the programme, at any time, with or without notice.</li>
                                  <li>Each Member is responsible for remaining knowledgeable as to the programme rules. Kidsstoppress will send correspondence to Members to advise them of matters of interest, including notification of programme changes from time to time. However, neither Kidsstoppress, its affiliates or allied companies nor programme management service providers nor the owners of participating outlets nor companies participating as partners in the programme will be liable for any failure to do so and will not be responsible for correspondence lost or delayed in the mail. The latest terms and conditions shall be available on request or can be viewed on the website of the programme.</li>
                                  <li>Terms and conditions of KSP Card Programme are governed by the laws of the Republic of India and will be restricted to the Mumbai jurisdiction under the Mumbai High Court.</li>
                                  <li>Kidsstoppress Media Pvt Ltd shall not be liable to the member for any eventuality caused directly or indirectly by any act of God, wars (declared or undeclared), insurrections, acts of terrorism, acts of governments or boycotts, lockouts and other civil unrest, or any act of similar nature beyond the Company’s reasonable control.</li>
                                  <li>Terms and conditions of the KSP Card Programme are subject to change without prior notice and for further details Members may log onto www.kspcode.com</li>
                                  </ol>
                               </div>
                               <div class="modal-footer tnc-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                               </div>
                             </div>
                           </div>
                         </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </section>
  <hr/>

  <div class="modal fade" id="playOffer" role="dialog">
    <div class="modal-dialog" style="width:400px">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close color-pink font-size25" data-dismiss="modal">&times;</button>
          <h4 class="modal-title pink-color">
            KSP Play pack offers<br>
            <small>Works on all days , unlimited visits at all partner brands</small>
          </h4>
        </div>
        <div class="modal-body">
          <div class="inn_media_box">
            <div>
              <ul *ngFor="let partner of playPartners; let i=index" class="partner_popup_ul">
                <li class="partner-li-class" style="background: white; display: flex">
                  <div class="paddingNo col-sm-2 col-xs-3">
                    <div class="square-thumbnail-image-container">
                      <img [src]="partner.img_path" class="square-thumbnail-image" style="border-radius:4px; object-fit: contain;">
                    </div>
                  </div>
                  <div class="col-sm-10 col-xs-9 padding-right0" style="display: flex;flex-direction: column;justify-content: center;">
                    <div class="col-sm-12 col-xs-12 padding-left-right0" style="white-space: normal; padding-top: 0.25rem">
                      <h5 class="font-size13 small-title-excerpt font-Raleway-SemiBold partner-title">{{partner.title}}</h5>
                    </div>
                    <div class="col-sm-12 col-xs-12 paddingNo" style="padding-top: 0.25rem!important">
                      <div class="font-size11 font-size10 padding-left-right0">
                        <span class="pull-left span-class">{{partner.tag_line}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="code-con" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="codeForm" (ngSubmit)="codeForm.valid && submitCodePopup(codeForm.value)" #formCode="ngForm">
          <div class="modal-body">
            <div class="pull-right">
              <a class="closePopup closeButton" href="javascript:void(0);" data-dismiss="modal">×</a>
            </div>
            <div class="profile-sidebar">
              <div class="col-md-12 paddingNo">
                  <h4><a class="color-pink">Have a query or want to know more about KSP Code? Simply leave us your deets and we will get in touch with you.</a></h4>
              </div>
              <br>
              <hr>
            </div>
            
            <div class="row text-center">
              <div class="col-md-12 col-lg-12" style="text-align: left">
                <input class="form-control" type="text" placeholder="Enter your email" style="width:100%" [formControl]="codeForm.controls['email']" (keyup)="checkEmailOrPhone('email')"/>
                
                <div *ngIf="((codeForm.controls['email'].hasError('pattern') && codeForm.controls['email'].dirty) || (codeForm.controls['email'].hasError('pattern') && formCode.submitted))" class="error-survey-form">Please enter a valid email</div>
              </div>
              
              <div class="col-md-12 col-lg-12" style="text-align: left">
                <input class="form-control" type="number" placeholder="Enter your mobile" style="width:100%" [formControl]="codeForm.controls['mobile']" (keyup)="checkEmailOrPhone('phone')"/>

                <div *ngIf="((codeForm.controls['mobile'].hasError('pattern') && codeForm.controls['mobile'].dirty) || (codeForm.controls['mobile'].hasError('pattern') && formCode.submitted))" class="error-survey-form">Please enter a valid mobile no</div>
              </div>

              <div class="col-md-12 col-lg-12 custom-select-option location position-relative" style="text-align: left;">
                <select [formControl]="codeForm.controls['city']" class="form-control"> 
                  <option value="">Select City</option>
                  <option *ngFor="let city of cityList" value="{{city.city}}">{{city.city}}</option>
                </select>
              </div>

              
              <div class="col-md-12 col-lg-12 sign-input-wrapper other position-relative" *ngIf="codeForm.controls.city.value == 'National'" style="text-align: left">
                <input type="text" class="form-control" [formControl]="codeForm.controls['cityOther']" placeholder="Please enter city name">
              </div>
              
              <div *ngIf="(codeForm.controls['email'].hasError('required') && formCode.submitted) && (codeForm.controls['mobile'].hasError('required') && formCode.submitted)" class="error-survey-form">Please enter email or mobile no.</div>
              
              <div class="col-md-12 col-lg-12 margin-top">
                <div class="paddingNo" style="width:auto;">
                  <button type="submit" class="btn green-background blue-green font-size13">Submit</button> 
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
