<app-topnavnofilter></app-topnavnofilter>
<section>
  <div class="w3_agile_banner_topWhite">
    <div class="container">
      <div class="" *ngIf="author">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <img id="images-pro" width="100%" [src]="author.image_path" alt=""/>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 margin-top">
          <h4 class="pink-color member-name">{{author.name}}</h4>
          <!-- <span class="font-size13 text-italic">{{member.role}}</span> -->
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 margin-top">
          <span class="font-size16 line-height-normal" [innerHTML]="author.about_yourself"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="main-content" class="">
   <section class="wrapper margin0" *ngIf="author">
     <hr>
     <div class="row margin-bottom15" *ngIf="articles?.length!=0">
       <div class="container">
       <div class="main-title-outer pull-left">
         <div class="main-title capitalize"><i class="fa fa-book" aria-hidden="true"></i> All posts by: {{author.name}}</div>
       </div>
       <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 paddingNo height-400px" *ngFor="let article of articles">
         <div class="single-blog-item box-shadow">
           <div class="blog-thumnail">
             <div id="crop-feature-image">
               <a href="/details/{{article.perma_link}}/{{article.id}}" *ngIf="article.post_type=='post'">
                 <img src="{{article.path.substring( 0, article.path.lastIndexOf('/')) + '/w_400' + article.path.substring( article.path.lastIndexOf('/'), article.path.length)}}" width="100%" class="image-fit" alt="{{article.title}}" style="object-position:center!important;">
               </a>
               <a href="/details/{{article.perma_link}}/{{article.id}}" *ngIf="article.post_type=='videos'">
                 <img src="{{article.path}}" width="100%" class="image-fit" alt="{{article.title}}" style="object-position:center!important;">
               </a>
               <a href="/details/{{article.perma_link}}/{{article.id}}" *ngIf="article.post_type=='ksp-radio'">
                 <img src="{{article.radio_image.substring( 0, article.radio_image.lastIndexOf('/')) + '/w_400' + article.radio_image.substring( article.radio_image.lastIndexOf('/'), article.radio_image.length)}}" width="100%" class="image-fit" alt="{{article.title}}" style="object-position:center!important;">
               </a>
             </div>
             <section class="post-footer">
               <div class="">
                 <div class="comment">
                     <div class="blog-content all-caps">
                       <app-category [categories]="article.category" [id]="article.id"></app-category>
                       <h4 class="blog-ellipsis"><a href="/details/{{article.perma_link}}/{{article.id}}">{{article.title}}</a></h4>
                       <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left margin-top paddingNo border-righ">
                       <div class="media-left"> <a routerLink="/authorwise-posts/{{article.creator_id}}"> <app-round-pic [picPath]="article.author_path" [userName]="article.author_name" [width]="'40px'" [height]="'40px'" [className]="''"></app-round-pic> </a> </div>
                       <div class="media-body">
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo">
                           <a routerLink="/authorwise-posts/{{article.creator_id}}" class="anchor-username">
                             <h4 class="media-heading capitalize font-size13 color-black">{{article.author_name}}</h4>
                           </a>
                           <span class="anchor-time all-caps" [innerHtml]="_commonService.setDateFormat(article.created_at) | date:'yMMMd'"></span>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo margin-top">
                            <ul class="list-unstyled text-left pull-right width-100per">
                               <app-likecomment [loveData]="article.liked" [entityType]="article.post_type" [entityId]="article.id" [loveCount]="article.likes" [commentCount]="article.comment_count" [permaLink]="article.perma_link"></app-likecomment>
                            </ul>
                         </div>
                       </div>
                      </div>
                     </div>
                 </div>
               </div>
             </section>
           </div>
           <app-bookmark [bookmarkData]="article.bookmarked" [entityType]="article.post_type" [entityId]="article.id" [bookmarkCount]="article.bookmark_count" [className]="''" [classTooltip]="'margin-tooltip-tv-all'"></app-bookmark>
         </div>
       </div>
       <div class="pull-right margin-top">
         <nav aria-label="Page navigation">
           <ul class="pagination">
             <li [class]="isPrevious ? '' : 'disabled'" class="disabled">
               <a href="javascript:void(0);" aria-label="Previous" (click)="getNewPage(currentPage - 1)">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
             <li *ngFor="let i of paginations" [class]="currentPage==i ? 'active' : ''">
               <a href="javascript:void(0);" (click)="getNewPage(i)" onclick="window.scrollTo(0,0);">{{i}}</a>
             </li>
             <li [class]="isNext ? '' : 'disabled'">
               <a href="javascript:void(0);" aria-label="Next" (click)="getNewPage(currentPage + 1)">
                 <span aria-hidden="true">&raquo;</span>
               </a>
             </li>
           </ul>
         </nav>
       </div>
     </div>
     </div>
   </section>
 </section>
<hr>
