<span *showItDevice="['desktop','tablet']">
<app-topnavnofilter></app-topnavnofilter>
<section>
  <div class="gry-background">
      <div class="container">
        <div class="wrapper">
        <!--div class="row">
          <div class="col-md-1"><a href="javascript:void(0);"><img src="assets/images/back.jpg" class="pull-left" width="40" height="39" alt=""/></a></div>
          <div class="col-md-10 center-block text-center font-size20"><strong>You are doing great. Do let us know if you are a mom or dad yourself or any other relative of the child</strong></div>
          <div class="col-md-1 "><a href="javascript:void(0);" href="/home"><img src="assets/images/close.jpg" class="pull-right" width="40" height="39" alt=""/></a></div>
        </div-->
        <div class="row margin45">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 flip">
            <div id="flip4" class="flip flip-shadow">
              <div id="card4" class="">
                <div class="face front padding-left-right-20px">
                  <div class="panel panel-default padding-left-right-30px">
                    <div class="text-center small-text">
                      <!-- <p class="font-size25px color-pink">Oops! Seems like you are not logged in.</p>
                      <p class="font-size21px">Please use the login utility to sign in to the platform and browse this content.</p>
                      <p class="font-size14px color-gray margin-top">Are you a first time visitor of the platform? We recommend that you register yourself to access thousands of parental content curated to your preference. Please use the Register utility to sign up to the platform. It's absolutely free and will just take a while.</p> -->
                      <p class="font-size25px color-pink">Please Register or Login to continue.</p>
                      <p class="font-size21px">Thanks for your interest in KSP Awards!</p>
                      <p class="font-size14px color-gray margin-top">Loved a brand that helped you in <span style="color: #e35b7f;">#SimplifyingParenting?</span> Here's how you can thank them. All you have to do is, sign up to access our premium content and to nominate and vote for your favourite brand. It takes less than 60 seconds, we promise! </p>
                      <p class="font-size14px color-gray margin-top">Go ahead. We promise, you will like it here!</p>
                      <div class="margin-top8per">
                        <button class="btn pink-color-button btn-style font-size15px paddingNo margin-right20px" (click)="gotoLogin()">Log In</button>
                        <button class="btn pink-color-button btn-style font-size15px paddingNo color-offblack margin-left20p" (click)="gotoRegister()">Register</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="clearfix"></div>
  </div>
</section>
</span>

<span *isMobile>
<app-topnavnofilter></app-topnavnofilter>
<section>
  <div class="gry-background">
      <div class="container">
        <div class="wrapper">
        <div class="row margin0">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 flip paddingNo">
            <div id="flip4" class="flip flip-shadow">
              <div id="card4">
                <div class="face front" style="padding:15px;">
                  <div class="panel panel-default">
                    <div class="text-center small-text">
                      <!-- <p class="font-size21 color-pink">Oops! Seems like you are not logged in.</p>
                      <p class="font-size18">Please use the login utility to sign in to the platform and browse this content.</p>
                      <p class="font-size12 color-gray margin-top">Are you a first time visitor of the platform? We recommend that you register yourself to access thousands of parental content curated to your preference. Please use the Register utility to sign up to the platform. It's absolutely free and will just take a while.</p> -->
                      <p class="font-size25px color-pink">Please Register or Login to continue.</p>
                      <p class="font-size21px">Thanks for your interest in KSP Awards!</p>
                      <p class="font-size14px color-gray margin-top">Loved a brand that helped you in <span style="color: #e35b7f;">#SimplifyingParenting?</span> Here's how you can thank them. All you have to do is, sign up to access our premium content and to nominate and vote for your favourite brand. It takes less than 60 seconds, we promise! </p>
                      <p class="font-size14px color-gray margin-top">Go ahead. We promise, you will like it here!</p>
                      <div class="margin-top8per">
                        <button class="btn pink-color-button btn-style font-size15px paddingNo margin-right20px" (click)="gotoLogin()">Log In</button>
                        <button class="btn pink-color-button btn-style font-size15px paddingNo color-offblack margin-left20p" (click)="gotoRegister()">Register</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="clearfix"></div>
  </div>
</section>
</span>
