<span *showItDevice="['desktop','tablet']">
<app-topnavnofilter></app-topnavnofilter>
<section>
  <div class="survey-bg" style="height:75vh;">
      <div class="container">
        <div class="wrapper">
        <div class="row margin45" style="margin-top:100px!important;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 flip">
            <div id="flip4" class="flip flip-shadow">
              <div id="card4" class="">
                <div class="face front padding-left-right-20px">
                  <div class="panel panel-default padding-left-right-30px">
                    <div class="text-center small-text">
                      <p class="font-size25px color-pink">VOTING CLOSED</p>
                      <p class="font-size21px">Stay tuned for results.</p>
                      <!-- <p class="font-size14px color-gray margin-top">Are you a first time visitor of the platform? We recommend that you register yourself to access thousands of parental content curated to your preference. Please use the Register utility to sign up to the platform. It's absolutely free and will just take a while.</p> -->
                      <!-- <div class="margin-top8per">
                        <button class="btn pink-color-button btn-style font-size15px paddingNo margin-right20px" (click)="gotoLogin()">Log In</button>
                        <button class="btn pink-color-button btn-style font-size15px paddingNo color-offblack margin-left20p" (click)="gotoRegister()">Register</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="clearfix"></div>
  </div>
</section>
</span>

<span *isMobile>
<app-topnavnofilter></app-topnavnofilter>
<section>
  <div class="gry-background survey-bg" style="height: 40vh;">
      <div class="container">
        <div class="wrapper">
        <div class="row margin0">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 flip paddingNo">
            <div id="flip4" class="flip flip-shadow">
              <div id="card4">
                <div class="face front survey-bg" style="padding:15px;">
                  <div class="panel panel-default survey-bg">
                    <div class="text-center small-text">
                      <p class="font-size25 color-pink">VOTING CLOSED</p>
                      <p class="font-size21">Stay tuned for results.</p>
                      <!-- <p class="font-size12 color-gray margin-top">Are you a first time visitor of the platform? We recommend that you register yourself to access thousands of parental content curated to your preference. Please use the Register utility to sign up to the platform. It's absolutely free and will just take a while.</p> -->
                      <!-- <div class="margin-top8per">
                        <button class="btn pink-color-button btn-style font-size15px paddingNo margin-right20px" (click)="gotoLogin()">Log In</button>
                        <button class="btn pink-color-button btn-style font-size15px paddingNo color-offblack margin-left20p" (click)="gotoRegister()">Register</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="clearfix"></div>
  </div>
</section>
</span>
