<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top15 art-paddingNo main-title-outer2" *ngIf="!isSurvey">
  <div class="pull-left text-center" style="width:15%;">
    <span style="font-size: 60px;
    line-height: 60px;
    font-family: Helvetica neue,arial;
    font-weight: 700;
    color: #e45b7f;">{{shareCount}}</span><br>
    <span style="font-size: 15px;
    line-height: 10px;
    font-family: Helvetica neue,arial;
    font-weight: 700;
    color: #e45b7f;">SHARES</span>
  </div>
  <div class="pull-right margin-top" style="width:85%;">
    <div class="addthis_inline_share_toolbox_0fen pull-right"></div>
  </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top15 art-paddingNo main-title-out" *ngIf="isSurvey">
  <div class="pull-left text-center border-right" style="width:20%;">
    <span style="font-size: 17px;
    font-family: Helvetica neue,arial;
    font-weight: 700;
    color: #e45b7f;">{{shareCount}}</span><br>
    <span style="font-size: 9px;
    font-family: Helvetica neue,arial;
    font-weight: 700;
    color: #e45b7f;">SHARES</span>
  </div>
  <div class="pull-right" style="width:80%;">
    <div class="addthis_inline_share_toolbox_0fen_ektl_7wt7 pull-right"></div>
  </div>
</div>
