.pagination > .active > a{
  background-color:#e35b7f!important;
  border-color:#ff007b!important;
}
.pagination > .disabled > a{
  //background-color:transparent!important;
}
.blog-ellipsis-title {
    font-size: 16px!important;
    font-weight: 700;
    margin-bottom: 15px!important;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 35px;*/
    height: 18px;
    width: 100%;
}
.all-caps{
  text-transform: uppercase!important;
}
