.left-pad{
  left:30px!important;
}
.right-pad{
  right:30px!important;
}
.carousel img{
  width:auto!important;
  height:200px!important;
}
.image-div{
  padding:120px;
  /*margin-left:50%;
  margin-right:50%;*/
  /*margin-top:100px;
  margin-bottom:100px;*/
}
.carousel-div{
  background-color: #000;
  text-align: center;
}
.font-size16{
  font-size: 16px;
  font-weight: 600;
}
.line-height-16{
  line-height: 1.6;
}
.carousel img{
  width: 100%!important;
  height: 500px!important;
  object-fit: cover!important;
}

.awards-wrapper {

}

.awards-wrapper .each-award-box {
	margin-bottom: 20px;
}

.awards-wrapper .each-award-box .box {
	width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 12px;
  box-shadow: 0 4px 12px 2px #555;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.awards-wrapper .each-award-box .box > img {
	width: 190px;
}

.btn-wrapper {

}

.each-award-box .box:hover {
	box-shadow: 0px 2px 15px 1px #ccc;
}

.each-award-box .box:hover .btn-wrapper button:nth-child(1){
	background-color: #fc3a71;
	color: #fff;
}

.btn-wrapper button {
	display: inline-block;
}

.btn-wrapper button:nth-child(1) {
	width: 80%;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #a2a2a2;
    padding: 10px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.btn-wrapper button:nth-child(2) {
	border: none;
    background-color: #f3f2f2;
    padding: 10px;
    border: 2px solid #f3f2f2;
    padding-bottom: 6px;
}

.btn-wrapper button:nth-child(2) img {
	width: 20px !important;
}
